<h2 mat-dialog-title>Imprint (Legal Notice)</h2>

<mat-dialog-content class="content">
    <section class="block">
        <h3 class="h">Service provider pursuant to Sec. 5 DDG</h3>
        <address class="addr">
            <div>JackTools.Net UG (haftungsbeschränkt)</div>
            <div>Im Kirchfeld 27</div>
            <div>38304 Wolfenbüttel</div>
            <div>Germany</div>
            <div>
                Phone:
                <a class="link" href="tel:+4917641235774" (click)="$event.stopPropagation()">+49 (0) 176 / 41 23 57
                    74</a>
            </div>
            <div>
                Email:
                <a class="link" href="mailto:jacktoolsnet@gmail.com"
                    (click)="$event.stopPropagation()">jacktoolsnet&#64;gmail.com</a>
            </div>
        </address>
    </section>

    <section class="block">
        <h3 class="h">Managing Director</h3>
        <div>Christian Wagner, Dipl.-Inform. (FH)</div>
    </section>

    <section class="block">
        <h3 class="h">Commercial Register</h3>
        <div>
            Court of registration: Ingolstadt<br />
            Registration number: 5933
        </div>
    </section>

    <section class="block">
        <h3 class="h">VAT ID (Sec. 27a German VAT Act)</h3>
        <div>DE277133529</div>
    </section>

    <section class="block">
        <h3 class="h">Editorially responsible</h3>
        <address class="addr">
            <div>Christian Wagner</div>
            <div>Im Kirchfeld 27</div>
            <div>38304 Wolfenbüttel</div>
            <div>Germany</div>
        </address>
    </section>

    <section class="block">
        <h3 class="h">Consumer dispute resolution</h3>
        <div>
            We are neither willing nor obliged to participate in dispute resolution
            proceedings before a consumer arbitration board.
        </div>
    </section>

    <section class="block">
        <h3 class="h">Digital Services Act (DSA) – Central contact point</h3>
        <address class="addr">
            <div>JackTools.Net UG (haftungsbeschränkt)</div>
            <div>Managing Director: Christian Wagner</div>
            <div>Im Kirchfeld 27</div>
            <div>38304 Wolfenbüttel</div>
            <div>Germany</div>
            <div>
                Phone:
                <a class="link" href="tel:+4917641235774" (click)="$event.stopPropagation()">+49 (0) 176 / 41 23 57
                    74</a>
            </div>
            <div>
                Email:
                <a class="link" href="mailto:jacktoolsnet@gmail.com"
                    (click)="$event.stopPropagation()">jacktoolsnet&#64;gmail.com</a>
            </div>
            <div>Contact is possible in German or English.</div>
        </address>
    </section>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>