<h2 mat-dialog-title>Enter pin</h2>

<div class="pin-display">
    @for (digit of pinDisplay; track $index) {
    <div [ngClass]="{ 'pin-dot': true, 'active': $index === currentPinIndex }">
        {{ digit || '•' }}
    </div>
    }
</div>

<div class="pin-pad">
    @for (digit of ['1','2','3','4','5','6','7','8','9']; track $index) {
    <button mat-mini-fab color="accent" (click)="addDigit(digit)">
        {{ digit }}
    </button>
    }

    <!-- Reset Button mit Icon -->
    <button mat-mini-fab color="primary" [disabled]="pin === ''" (click)="reset()">
        <mat-icon class="material-symbols-outlined">autorenew</mat-icon>
    </button>

    <!-- 0 Button -->
    <button mat-mini-fab color="accent" (click)="addDigit('0')">
        0
    </button>

    <!-- Reset User Button mit Icon -->
    <button mat-mini-fab color="primary" [disabled]="false" (click)="resetUser()">
        <mat-icon class="material-symbols-outlined">lock_reset</mat-icon>
    </button>
</div>