<app-dialog-header icon="grid_3x3"
  [title]="(data.variant === 'vanishing' ? 'common.contact.chatroom.games.newVanishingTicTacToeTitle' : 'common.contact.chatroom.games.newTicTacToeTitle') | transloco"></app-dialog-header>

<mat-dialog-content class="new-game-content">
  <app-tic-tac-toe-board [board]="board()" [moves]="moves()" [disabled]="false" [playerMark]="'X'" [variant]="data.variant"
    [statusText]="(data.variant === 'vanishing' ? 'common.contact.chatroom.games.chooseFirstMoveVanishing' : 'common.contact.chatroom.games.chooseFirstMove') | transloco"
    (move)="selectCell($event)"></app-tic-tac-toe-board>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-icon-button class="action-close" type="button" (click)="close()"
    [attr.aria-label]="'common.actions.close' | transloco">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-icon-button color="primary" type="button" (click)="send()" [disabled]="selectedCell() === null"
    [attr.aria-label]="'common.contact.chatroom.games.sendGameAria' | transloco">
    <mat-icon>send</mat-icon>
  </button>
</mat-dialog-actions>
