<h2 *ngIf="data.mode == 'add_public_message'" mat-dialog-title>Add a public message</h2>
<h2 *ngIf="data.mode == 'add_comment'" mat-dialog-title>Add a public comment</h2>
<h2 *ngIf="data.mode == 'edit_public_message'" mat-dialog-title>Edit my public message</h2>
<h2 *ngIf="data.mode == 'edit_comment'" mat-dialog-title>Edit my public comment</h2>

<mat-dialog-content>
    <div class="content">
        <app-select-multimedia *ngIf="data.message.multimedia.type === 'undefined'" class="oembed_container"
            (newMultimedia)="applyNewMultimedia($event)"></app-select-multimedia>
        <div *ngIf="data.message.multimedia.type !== 'undefined'" class="oembed_container">
            <button mat-mini-fab color="primary" class="button_remove_multimedia" (click)="removeMultimedia()">
                <mat-icon>delete</mat-icon>
            </button>
            <app-showmultimedia class="oembed_container" [multimedia]="data.message.multimedia">
            </app-showmultimedia>
        </div>
        <div *ngIf="data.message.message === ''" class="oembed_container">
            <button (click)="openTextDialog()" mat-flat-button class="button_default" color="primary">
                <span>Add a text</span>
            </button>
        </div>
        <div *ngIf="data.message.message !== ''" class="text_container">
            <button *ngIf="data.message.message !== ''" mat-mini-fab class="button_random" color="secondary"
                aria-label="Drop a new message" (click)="onNewFontClick()">
                <mat-icon class="material-symbols-outlined">cycle</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="button_remove_text" (click)="removeText()">
                <mat-icon>delete</mat-icon>
            </button>
            <p class="text" (click)="openTextDialog()" [style]="data.message.style">{{data.message.message}}</p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="data.message.message !== '' || data.message.multimedia.type !== 'undefined'">
    <button *ngIf="data.mode == 'add_public_message'" mat-flat-button class="button_drop" color="primary"
        aria-label="Drop your message" (click)="onApplyClick()">
        <mat-icon class="material-symbols-outlined">send</mat-icon>
        Drop public message
    </button>
    <button *ngIf="data.mode == 'add_short_message'" mat-flat-button class="button_drop" color="primary"
        aria-label="Send your message" (click)="onApplyClick()">
        <mat-icon class="material-symbols-outlined">send</mat-icon>
        Send your message
    </button>
    <button *ngIf="data.mode == 'add_comment'" mat-flat-button class="button_drop" color="primary"
        aria-label="Drop your message" (click)="onApplyClick()">
        <mat-icon class="material-symbols-outlined">add_comment</mat-icon>
        Drop public comment
    </button>
    <button *ngIf="data.mode == 'edit_public_message' || data.mode == 'edit_comment'" mat-flat-button
        class="button_drop" color="primary" aria-label="Update your message" (click)="onApplyClick()">
        <mat-icon class="material-symbols-outlined">check</mat-icon>
        Apply changes
    </button>
</mat-dialog-actions>