<h2 mat-dialog-title class="dialog-title">
    <mat-icon class="dialog-title__icon" aria-hidden="true">{{ headerConfig.icon }}</mat-icon>
    <span class="dialog-title__text">{{ headerConfig.labelKey | transloco }}</span>
</h2>

<mat-dialog-content>
    <div class="content">

        @if (data.message.multimedia.type === 'undefined') {
        <app-select-multimedia class="oembed_container" (newMultimedia)="applyNewMultimedia($event)">
        </app-select-multimedia>
        } @else {
        <div class="oembed_container">
            <button mat-mini-fab color="primary" class="button_remove_multimedia" (click)="removeMultimedia()">
                <mat-icon>delete</mat-icon>
            </button>
            <app-showmultimedia class="oembed_container" [multimedia]="data.message.multimedia">
            </app-showmultimedia>
        </div>
        }

        @if (data.message.message === '') {
        <div class="oembed_container">
            <button (click)="openTextDialog()" mat-flat-button class="button_default" color="primary">
                <span>{{ 'common.message.addText' | transloco }}</span>
            </button>
        </div>
        } @else {
        <div class="text_container">
            <button mat-mini-fab class="button_random" color="secondary"
                [attr.aria-label]="'common.actions.randomizeStyle' | transloco" (click)="onNewFontClick()">
                <mat-icon>cycle</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="button_remove_text" (click)="removeText()">
                <mat-icon>delete</mat-icon>
            </button>
            <p class="text" role="button" tabindex="0" (click)="openTextDialog()" (keyup.enter)="openTextDialog()"
                (keyup.space)="openTextDialog()" [style]="data.message.style">{{ data.message.message }}</p>
        </div>
        }

    </div>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
    <button mat-dialog-close cdkFocusInitial (click)="onAbortClick()" mat-icon-button
        [attr.aria-label]="'common.actions.abort' | transloco" class="action-close"><mat-icon>close</mat-icon></button>

    @if (data.message.message !== '' || data.message.multimedia.type !== 'undefined') {
    <button [attr.aria-label]="'common.message.updateAria' | transloco" (click)="onApplyClick()"
        mat-icon-button><mat-icon>send</mat-icon></button>
    }
</mat-dialog-actions>
