<h2 *ngIf="data.mode == 'add_public_message'" mat-dialog-title>Add a public message</h2>
<h2 *ngIf="data.mode == 'add_comment'" mat-dialog-title>Add a public comment</h2>
<h2 *ngIf="data.mode == 'edit_public_message'" mat-dialog-title>Edit my public message</h2>
<h2 *ngIf="data.mode == 'edit_comment'" mat-dialog-title>Edit my public comment</h2>

<button [attr.aria-hidden]="false" class="button_legal" mat-mini-fab aria-label="Legal" (click)="showPolicy()">
    <mat-icon [attr.aria-hidden]="false" class="material-symbols-outlined">policy</mat-icon>
</button>
<mat-dialog-content>
    <div class="content">
        <app-select-multimedia *ngIf="data.message.multimedia.type === 'undefined'" class="multimedia_container"
            (newMultimedia)="applyNewMultimedia($event)"></app-select-multimedia>
        <div *ngIf="data.message.multimedia.type === 'tenor'" class="multimedia_container">
            <button mat-mini-fab color="primary" class="button_remove_multimedia" (click)="removeMultimedia()">
                <mat-icon>delete</mat-icon>
            </button>
            <img class="multimedia_image" [src]="data.message.multimedia.url">
        </div>
        <div *ngIf="data.message.multimedia.type === 'youtube'" class="multimedia_container">
            <button mat-mini-fab color="primary" class="button_remove_multimedia" (click)="removeMultimedia()">
                <mat-icon>delete</mat-icon>
            </button>
            <div *ngIf="data.message.multimedia?.type === 'youtube'">
                <iframe *ngIf="!data.message.multimedia?.sourceUrl?.includes('shorts/')" [src]="safeUrl!" width="560"
                    height="315" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe *ngIf="data.message.multimedia?.sourceUrl?.includes('shorts/')" [src]="safeUrl!" width="315"
                    height="560" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div *ngIf="data.message.multimedia?.type === 'instagram'" class="multimedia_container">
            <iframe [src]="safeUrl!" width="320" height="400" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <a *ngIf="data.message.multimedia.attribution !== ''" class=" attribution_link"
            href="{{data.message.multimedia.sourceUrl}}" target="_blank">{{data.message.multimedia.attribution}}</a>
        <div *ngIf="data.message.message === ''" class="multimedia_container">
            <button (click)="openTextDialog()" mat-flat-button class="button_default" color="primary">
                <span>Add a text</span>
            </button>
        </div>
        <div *ngIf="data.message.message !== ''" class="text_container">
            <button *ngIf="data.message.message !== ''" mat-mini-fab class="button_random" color="secondary"
                aria-label="Drop a new message" (click)="onNewFontClick()">
                <mat-icon class="material-symbols-outlined">switch_access_shortcut</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="button_remove_text" (click)="removeText()">
                <mat-icon>delete</mat-icon>
            </button>
            <p class="text" (click)="openTextDialog()" [style]="data.message.style">{{data.message.message}}</p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="data.message.message !== '' || data.message.multimedia.type !== 'undefined'">
    <button *ngIf="data.mode == 'add_public_message'" mat-flat-button class="button_drop" color="primary"
        aria-label="Drop your message" (click)="onApplyClick()">
        <mat-icon class="material-symbols-outlined">send</mat-icon>
        Drop public message
    </button>
    <button *ngIf="data.mode == 'add_short_message'" mat-flat-button class="button_drop" color="primary"
        aria-label="Send your message" (click)="onApplyClick()">
        <mat-icon class="material-symbols-outlined">send</mat-icon>
        Send your message
    </button>
    <button *ngIf="data.mode == 'add_comment'" mat-flat-button class="button_drop" color="primary"
        aria-label="Drop your message" (click)="onApplyClick()">
        <mat-icon class="material-symbols-outlined">add_comment</mat-icon>
        Drop public comment
    </button>
    <button *ngIf="data.mode == 'edit_public_message' || data.mode == 'edit_comment'" mat-flat-button
        class="button_drop" color="primary" aria-label="Update your message" (click)="onApplyClick()">
        <mat-icon class="material-symbols-outlined">check</mat-icon>
        Apply changes
    </button>
</mat-dialog-actions>