<mat-dialog-content>
  @if (data.messages.length) {
  <button mat-stroked-button [mat-dialog-close]="{type: 'public_message', messages: data.messages}"
    matBadge="{{data.messages.length | shortNumber}}" matBadgePosition="after" matBadgeColor="accent"
    matBadgeOverlap="true">
    <mat-icon>speaker_notes</mat-icon>
    {{ 'common.map.multiMarker.showMessages' | transloco }}
  </button>
  }
  @if (data.notes.length) {
  <button mat-stroked-button [mat-dialog-close]="{type: 'private_note', notes: data.notes}"
    matBadge="{{data.notes.length | shortNumber}}" matBadgePosition="after" matBadgeColor="accent"
    matBadgeOverlap="true">
    <mat-icon>clinical_notes</mat-icon>
    {{ 'common.map.multiMarker.showNotes' | transloco }}
  </button>
  }
  @if (data.images.length) {
  <button mat-stroked-button [mat-dialog-close]="{type: 'private_image', images: data.images}"
    matBadge="{{data.images.length | shortNumber}}" matBadgePosition="after" matBadgeColor="accent"
    matBadgeOverlap="true">
    <mat-icon>images</mat-icon>
    {{ 'common.map.multiMarker.showImages' | transloco }}
  </button>
  }
  @if (data.documents.length) {
  <button mat-stroked-button [mat-dialog-close]="{type: 'private_document', documents: data.documents}"
    matBadge="{{data.documents.length | shortNumber}}" matBadgePosition="after" matBadgeColor="accent"
    matBadgeOverlap="true">
    <mat-icon>description</mat-icon>
    {{ 'common.map.multiMarker.showDocuments' | transloco }}
  </button>
  }
  @if (data.experiences.length) {
  <button mat-stroked-button [mat-dialog-close]="{type: 'experience', experiences: data.experiences}">
    <mat-icon>local_activity</mat-icon>
    {{ 'common.map.multiMarker.showExperiences' | transloco }}
  </button>
  }
  @if (data.myExperiences.length) {
  <button mat-stroked-button [mat-dialog-close]="{type: 'my_experience', experiences: data.myExperiences}"
    matBadge="{{data.myExperiences.length | shortNumber}}" matBadgePosition="after" matBadgeColor="accent"
    matBadgeOverlap="true">
    <mat-icon>bookmark_star</mat-icon>
    {{ 'common.map.multiMarker.showMyExperiences' | transloco }}
  </button>
  }
</mat-dialog-content>
