<div class="button_container">
    @if (showTenor) {
    <button (click)="openTenorDialog()" mat-flat-button class="button_default" color="primary"
        aria-label="Add from Tenor">
        <span>Add from Tenor</span>
    </button>
    } @else {
    <button (click)="enableTenor()" mat-stroked-button class="button_default" color="primary" aria-label="Enable Tenor">
        <span>Enable Tenor content</span>
    </button>
    }

    <button (click)="openImportMultimediaDialog()" mat-flat-button class="button_default" color="primary">
        <span>Add multimedia content</span>
    </button>
</div>