<div class="button_container">
    <button (click)="openStickerDialog()" mat-flat-button class="button_default" color="primary"
        [attr.aria-label]="'common.multimedia.addSticker' | transloco">
        <span>{{ 'common.multimedia.addSticker' | transloco }}</span>
    </button>

    <button (click)="openTenorDialog()" mat-flat-button class="button_default" color="primary"
        [attr.aria-label]="'common.multimedia.addFromTenor' | transloco">
        <span>{{ 'common.multimedia.addFromTenor' | transloco }}</span>
    </button>

    <button (click)="openImportMultimediaDialog()" mat-flat-button class="button_default" color="primary"
        [attr.aria-label]="'common.multimedia.addContent' | transloco">
        <span>{{ 'common.multimedia.addContent' | transloco }}</span>
    </button>
</div>
