.button_profile {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    margin: 2rem;
}

.button_app {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    margin-top: 2rem;
    margin-right: 2rem;
}

.button_drop {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.button_search {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 2rem;
    margin-bottom: 6rem;
}

.button_goToLocation {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

.button_watchLocation {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

.button_addLocationToPlace {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

.button_removeLocationFromPlace {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}