<app-map *ngIf="networkService.isOnline()" [lastMarkerUpdate]="lastMarkerUpdate"
    [location]="mapService.getMapLocation()" [markerLocations]="markerLocations" (clickEvent)="handleClickEvent($event)"
    (moveEndEvent)="handleMoveEndEvent($event)" (markerClickEvent)="handleMarkerClickEvent($event)"></app-map>
<button
    *ngIf="networkService.isOnline() && this.userService.isReady() && this.placeService.getSelectedPlace().id === ''"
    [matMenuTriggerFor]="userMenu" aria-hidden="false" class="button_profile" mat-fab color="accent"
    aria-label="User Profile" (click)="{}">
    <mat-icon aria-hidden="false" matBadge="{{0 | shortNumber}}" matBadgeColor="primary"
        class="material-symbols-outlined">person</mat-icon>
</button>

<button
    *ngIf="networkService.isOnline() && this.userService.isReady() && this.placeService.getSelectedPlace().id !== ''"
    aria-hidden="this.userService.isReady() && this.placeService.getSelectedPlace().id !== ''" class="button_profile"
    mat-fab extended color="accent" aria-label="User Profile" (click)="finishEditingPlace()">
    <mat-icon aria-hidden="false"
        class="material-symbols-outlined">where_to_vote</mat-icon>{{this.placeService.getSelectedPlace().name}}
</button>

<button *ngIf="networkService.isOnline() && this.userService.isReady() && !locationReady"
    [attr.aria-hidden]="locationReady" class="button_watchLocation" mat-fab color="primary"
    aria-label="Watch user location" (click)="startWatchingPosition()">
    <mat-icon [attr.aria-hidden]="locationReady" class="material-symbols-outlined">place</mat-icon>
</button>
<button *ngIf="networkService.isOnline() && this.userService.isReady() && locationReady && !isUserLocation"
    [attr.aria-hidden]="!(this.userService.isReady() && locationReady)" class="button_goToLocation" mat-fab
    color="primary" aria-label="Go to your location" (click)="goToUserLocation()">
    <mat-icon [attr.aria-hidden]="!(this.userService.isReady() && locationReady)"
        class="material-symbols-outlined">adjust</mat-icon>
</button>
<button
    *ngIf="networkService.isOnline() && this.userService.isReady() && this.placeService.getSelectedPlace().id !== '' && !isPartOfPlace"
    [attr.aria-hidden]="this.userService.isReady()" class="button_drop" mat-fab color="secondary"
    aria-label="Add_location_to_place" (click)="addLocationToPlace()">
    <mat-icon [attr.aria-hidden]="this.userService.isReady()"
        class="material-symbols-outlined">add_location_alt</mat-icon>
</button>
<button
    *ngIf="networkService.isOnline() && this.userService.isReady() && this.placeService.getSelectedPlace().id !== '' && isPartOfPlace"
    [attr.aria-hidden]="this.userService.isReady()" class="button_drop" mat-fab color="primary"
    aria-label="Add_location_to_place" (click)="removeLocationFromPlace()">
    <mat-icon [attr.aria-hidden]="this.userService.isReady()"
        class="material-symbols-outlined">wrong_location</mat-icon>
</button>
<button
    *ngIf="networkService.isOnline() && this.userService.isReady() && this.placeService.getSelectedPlace().id === ''"
    [attr.aria-hidden]="!(this.userService.isReady() && locationReady)" [matMenuTriggerFor]="messageMenu"
    class="button_drop" mat-fab color="primary" aria-label="Drop a new message" (click)="{}">
    <mat-icon [attr.aria-hidden]="!(this.userService.isReady() && locationReady)"
        class="material-symbols-outlined">send</mat-icon>
</button>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="showUser()">
        <mat-icon *ngIf="this.userService.getUser()" class="material-symbols-outlined">account_circle</mat-icon>
        <span>My user</span>
    </button>
    <button *ngIf="this.userService.getUser()" mat-menu-item (click)="editUserProfile()">
        <mat-icon class="material-symbols-outlined">badge</mat-icon>
        <span>My profile</span>
    </button>
    <button mat-menu-item (click)="openUserMessagListDialog()">
        <mat-icon class="material-symbols-outlined">speaker_notes</mat-icon>
        <span>My public messages</span>
    </button>
    <button *ngIf="userService.isReady()" mat-menu-item (click)="openUserNoteListDialog()">
        <mat-icon class="material-symbols-outlined">clinical_notes</mat-icon>
        <span>My private notes</span>
    </button>
    <button *ngIf="placeService.isReady()" mat-menu-item (click)="openPlaceListDialog()">
        <mat-icon class="material-symbols-outlined">personal_places</mat-icon>
        <span>My places</span>
    </button>
    <button mat-menu-item *ngIf="contactService.isReady()" (click)="openContactListDialog()">
        <mat-icon class="material-symbols-outlined">contacts</mat-icon>
        <span>My contacts</span>
    </button>
</mat-menu>

<mat-menu #messageMenu="matMenu">
    <button mat-menu-item (click)="openMessagDialog()">
        <mat-icon class="material-symbols-outlined">send</mat-icon>
        <span>Public message</span>
    </button>
    <button *ngIf="this.userService.isReady()" mat-menu-item (click)="openNoteDialog()">
        <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
        <span>Private note</span>
    </button>
</mat-menu>
<router-outlet />