<app-map [lastMarkerUpdate]="lastMarkerUpdate" [location]="mapService.getMapLocation()" [markerLocations]="markerLocations" (clickEvent)="handleClickEvent($event)" (moveEndEvent)="handleMoveEndEvent($event)" (markerClickEvent)="handleMarkerClickEvent($event)"></app-map>
<button *ngIf="userReady" [matMenuTriggerFor]="userMenu" aria-hidden="false" class="button_profile" mat-fab color="accent" aria-label="User Profile" (click)="{}">
    <mat-icon aria-hidden="false" matBadge="{{0 | shortNumber}}" matBadgeColor="primary"  class="material-symbols-outlined" >person</mat-icon>
</button>

<button [attr.aria-hidden]="locationReady" class="button_watchLocation" *ngIf="!locationReady" mat-fab color="primary" aria-label="Watch user location" (click)="startWatchingPosition()">
    <mat-icon [attr.aria-hidden]="locationReady" class="material-symbols-outlined">place</mat-icon>
</button>
<button [attr.aria-hidden]="userReady" class="button_followLocation" *ngIf="userReady && !locationSubscriptionError && !userIsSusbscribedToLocation" mat-fab color="secondary" aria-label="Follow_location" (click)="subscribeToLocation()">
    <mat-icon [attr.aria-hidden]="userReady" class="material-symbols-outlined">add_location_alt</mat-icon>
</button>
<button [attr.aria-hidden]="userReady" class="button_followLocation" *ngIf="userReady && !locationSubscriptionError && userIsSusbscribedToLocation" mat-fab color="primary" aria-label="Follow_location" (click)="unsubscribedFromLocation()">
    <mat-icon [attr.aria-hidden]="userReady" class="material-symbols-outlined">wrong_location</mat-icon>
</button>
<button [attr.aria-hidden]="!(userReady && locationReady)" class="button_goToLocation" *ngIf="locationReady && !isUserLocation" mat-fab color="primary" aria-label="Go to your location" (click)="goToUserLocation()">
    <mat-icon [attr.aria-hidden]="!(userReady && locationReady)" class="material-symbols-outlined">adjust</mat-icon>
</button>
<button [attr.aria-hidden]="!(userReady && locationReady)" [matMenuTriggerFor]="messageMenu" class="button_drop" *ngIf="userReady" mat-fab color="primary" aria-label="Drop a new message" (click)="{}">
    <mat-icon [attr.aria-hidden]="!(userReady && locationReady)" class="material-symbols-outlined">send</mat-icon>
</button>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="deleteUser()">
    <mat-icon class="material-symbols-outlined">delete_forever</mat-icon>
        <span>Delete user</span>
    </button>
    <button mat-menu-item (click)="editUserProfile()">
        <mat-icon class="material-symbols-outlined">edit</mat-icon>
        <span>My profile</span>
    </button>
    <button mat-menu-item (click)="openUserMessagListDialog()">
        <mat-icon class="material-symbols-outlined">speaker_notes</mat-icon>
        <span>My public messages</span>
    </button>
    <button *ngIf="allUserNotes.length != 0" mat-menu-item (click)="openUserNoteListDialog()">
        <mat-icon class="material-symbols-outlined">clinical_notes</mat-icon>
        <span>My private notes</span>
    </button>
</mat-menu>

<mat-menu #messageMenu="matMenu">
    <button mat-menu-item (click)="openMessagDialog(user!.location)">
    <mat-icon class="material-symbols-outlined">send</mat-icon>
        <span>Public message</span>
    </button>
    <button *ngIf="userReady" mat-menu-item (click)="openNoteDialog(user!.location)">
        <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
        <span>Private note</span>
    </button>
</mat-menu>
<router-outlet />
