.button_profile {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    margin: 2rem;
}

.button_drop {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.button_goToLocation {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

.button_watchLocation {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

.button_addLocationToPlace {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

.button_removeLocationFromPlace {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}