.button_profile {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    margin: 2rem;
}

.button_app {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    margin-top: 2rem;
    margin-right: 2rem;
}

.button_drop {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.button_search {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 2rem;
    margin-bottom: 6rem;
}

.button_goToLocation {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

.button_watchLocation {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

.button_addLocationToPlace {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

.button_removeLocationFromPlace {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-right: 6rem;
    margin-bottom: 2rem;
}

.person-badge-animate {
    animation: person-bounce 0.8s ease-in-out;
}

@keyframes person-bounce {
    0% { transform: scale(1) rotate(0deg); }
    20% { transform: scale(1.08) rotate(-4deg); }
    45% { transform: scale(0.94) rotate(4deg); }
    70% { transform: scale(1.04) rotate(-2deg); }
    100% { transform: scale(1) rotate(0deg); }
}
