.messageDropDialog .mat-dialog-container {
    padding: 0rem;
}

.mat-mdc-dialog-title {
    padding-bottom: 0px !important;
}

.mat-mdc-dialog-content {
    padding: 0px !important;
    max-height: 80vh;
    height: 80vh;
}

.mat-mdc-dialog-actions {
    padding: 0px !important;
}

h4 {
    padding: 0.5rem;
    color: floralwhite;
}

.buttonarea {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
}

.button_drop {
    margin: auto;
    width: 70%;
    border-radius: 0.5rem;
}

.button_default {
    margin: 1rem;
    width: 95%;
    border-radius: 0.5rem;
}

.button_random {
    position: absolute;
    right: -1rem;
    top: 2rem;
}

.button_legal {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.button_remove_multimedia {
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 100;
}

.button_remove_text {
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 100;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oembed_container {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(142, 141, 141);
    color: white;
    border-radius: 0.25rem;
}

.oembed_container_iframe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 16 / 9;
}

.text_container {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0.5rem;
    height: 100%;
    background-color: rgb(142, 141, 141);
    color: white;
    border-radius: 0.25rem;
}

.text {
    max-width: 75%;
    margin: 1rem;
}

.multimedia_image {
    max-width: 75%;
    object-fit: contain;
    border-radius: 0.5rem;
    margin: 1rem;
}

.attribution_link {
    color: white;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
}