<mat-dialog-content class="dialog">
    <div [ngClass]="{
        'list': true, 
        'gradientAnimation': animation.cssclass === 'gradientAnimation',
        'radialAnimation': animation.cssclass === 'radialAnimation',
        'conicAnimation': animation.cssclass === 'conicAnimation'}" [style]="animation.style">
        <div class="item" *ngFor="let message of messages; index as i">
            <mat-card>
                <!--mat-card-header>
                    <mat-card-title>Name</mat-card-title>
                    <mat-card-subtitle>Views: {{message.messageViews}} | Likes: Views: {{message.messageLikes}} | Dislikes: {{message.messageDislikes}}</mat-card-subtitle>
                </mat-card-header-->
                <mat-card-content [style]="message.style">{{message.message}}</mat-card-content>
                <mat-card-actions class="buttonbar">
                    <button mat-mini-fab color="secondary" aria-label="Drop a new message">
                        <mat-icon class="material-symbols-outlined">thumb_up</mat-icon>
                    </button>
                    <button mat-mini-fab color="secondary" aria-label="Drop a new message">
                        <mat-icon class="material-symbols-outlined">thumb_down</mat-icon>
                    </button>
                    <button mat-mini-fab color="secondary" aria-label="Drop a new message">
                        <mat-icon class="material-symbols-outlined">add_comment</mat-icon>
                    </button>
                    <button mat-mini-fab color="secondary" aria-label="Drop a new message">
                        <mat-icon class="material-symbols-outlined">read_more</mat-icon>
                    </button>
                    <button mat-mini-fab color="secondary" aria-label="Drop a new message" (click)="navigateToMessageLocation(message)">
                        <mat-icon class="material-symbols-outlined">assistant_direction</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</mat-dialog-content>