<mat-dialog-content>
    @if (messagesSignal().length === 0 && messageService.selectedMessagesSignal().length === 0) {
    <div class="no-content">
        <div class="toolbar">
            <button mat-mini-fab color="accent" class="button_back" (click)="goBack()">
                <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
            </button>
        </div>
        <button class="first-button" mat-flat-button color="primary" [attr.aria-hidden]="false"
            (click)="!userService.isReady() ? userService.login(addMessagDialog.bind(this)) : addMessagDialog()">
            <span>Add my first public message</span>
        </button>
    </div>
    }
    @if (messagesSignal().length !== 0 && messageService.selectedMessagesSignal().length === 0) {
    <div class="content">
        <div class="toolbar">
            <button mat-mini-fab color="accent" class="button_back" (click)="goBack()">
                <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
            </button>
            <button [attr.aria-hidden]="false" class="button_add" mat-mini-fab color="primary" aria-label="Add"
                (click)="!userService.isReady() ? userService.login(addMessagDialog.bind(this)) : addMessagDialog()">
                <mat-icon [attr.aria-hidden]="false" class="material-symbols-outlined">chat_add_on</mat-icon>
            </button>
        </div>
        @for (message of filteredMessagesSignal(); track message.id) {
        <mat-card class="item" appMasonryItem>
            @if (this.userService.getUser().id == message.userId) {
            <div class="avatar-box">
                @if (userProfile.base64Avatar) {
                <img class="avatar" [src]="userProfile.base64Avatar" />
                } @else {
                <mat-icon class="material-symbols-outlined">person</mat-icon>
                }
                @if (userProfile.name) {
                <span class="name">{{ userProfile.name }}</span>
                } @else {
                <span class="name">Myself</span>
                }
            </div>
            } @else {
            <div class="avatar-box" (click)="editMessageUserProfile(message)">
                @if (profileService.getProfile(message.userId)?.base64Avatar) {
                <img class="avatar" [src]="profileService.getProfile(message.userId)?.base64Avatar">
                } @else {
                <mat-icon class="material-symbols-outlined">person</mat-icon>
                }
                @if (profileService.getProfile(message.userId)?.name) {
                <span class="name">{{ profileService.getProfile(message.userId)?.name }}</span>
                } @else {
                <span class="name">Unnamed</span>
                }
            </div>
            }

            <mat-card-content
                (click)="userService.isReady() && this.userService.getUser().id == message.userId ? editMessage(message) : {}">
                <div class="message-content">
                    <app-showmultimedia [multimedia]="message.multimedia"></app-showmultimedia>
                    @if (message.message) {
                    <app-showmessage [message]="message.translatedMessage ?? message.message"
                        [style]="message.style"></app-showmessage>
                    }
                </div>
            </mat-card-content>

            <mat-card-actions class="buttonbar">
                <button mat-mini-fab color="secondary" aria-label="Show or add comments"
                    (click)="!userService.isReady() ? handleCommentAfterLoginClick(message) : handleCommentClick(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined"
                        matBadge="{{ getCommentBadge(message.uuid) == 0 ? '' : getCommentBadge(message.uuid)}}"
                        matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">forum</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Like message"
                    (click)="!userService.isReady() ? likeMessageAfterLoginClick(message) : likeMessageClick(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined"
                        matBadge="{{ message.likes | shortNumber }}" matBadgePosition="after" matBadgeColor="accent"
                        matBadgeOverlap="true">thumb_up</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Dislike message"
                    (click)="!userService.isReady() ? dislikeMessageAfterLoginClick(message) : dislikeMessageClick(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined"
                        matBadge="{{ message.dislikes | shortNumber }}" matBadgePosition="after" matBadgeColor="accent"
                        matBadgeOverlap="true">thumb_down</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Fly to message" (click)="flyTo(message)">
                    <mat-icon class="material-symbols-outlined">place</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Navigate to message location."
                    (click)="navigateToMessageLocation(message)">
                    <mat-icon class="material-symbols-outlined">assistant_direction</mat-icon>
                </button>
                @if (this.userService.getUser().id != message.userId) {
                <button mat-mini-fab color="secondary" aria-label="Edit message"
                    (click)="editMessageUserProfile(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">settings_account_box</mat-icon>
                </button>
                }
                @if (this.userService.getUser().id == message.userId) {
                <button mat-mini-fab color="secondary" aria-label="Edit message" (click)="editMessage(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">edit</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Delete message" (click)="deleteMessage(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">delete_forever</mat-icon>
                </button>
                }
                @if (this.userService.getUser().id != message.userId) {
                <button mat-mini-fab color="secondary" aria-label="Block message" (click)="disableMessage(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">visibility_off</mat-icon>
                </button>
                }
            </mat-card-actions>
        </mat-card>
        }
    </div>

    }

    @if (messageService.selectedMessagesSignal().length !== 0) {

    @if (commentsSignal().length === 0) {
    <div class="no-content">
        <div class="toolbar">
            <button mat-mini-fab color="accent" class="button_back" (click)="goBack()">
                <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
            </button>
        </div>
        <button class="first-button" mat-flat-button color="primary" [attr.aria-hidden]="false"
            (click)="!userService.isReady() ? userService.login(addCommentAfterLogin.bind(this)) : addComment(currentParentSignal()!)">
            <span>Add my first public comment</span>
        </button>
    </div>
    }
    @if (commentsSignal().length !== 0) {
    <div class="content">
        <div class="toolbar">
            <button mat-mini-fab color="accent" class="button_back" (click)="goBack()">
                <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="button_add"
                (click)="!userService.isReady() ? userService.login(addCommentAfterLogin.bind(this)) : addComment(currentParentSignal()!)">
                <mat-icon class="material-symbols-outlined">add_comment</mat-icon>
            </button>
        </div>

        @for (message of commentsSignal(); track message.id) {
        <mat-card class="item" appMasonryItem>
            @if (this.userService.getUser().id == message.userId) {
            <div class="avatar-box">
                @if (userProfile.base64Avatar) {
                <img class="avatar" [src]="userProfile.base64Avatar" />
                } @else {
                <mat-icon class="material-symbols-outlined">person</mat-icon>
                }
                @if (userProfile.name) {
                <span class="name">{{ userProfile.name }}</span>
                } @else {
                <span class="name">Myself</span>
                }
            </div>
            } @else {
            <div class="avatar-box" (click)="editMessageUserProfile(message)">
                @if (profileService.getProfile(message.userId)?.base64Avatar) {
                <img class="avatar" [src]="profileService.getProfile(message.userId)?.base64Avatar">
                } @else {
                <mat-icon class="material-symbols-outlined">person</mat-icon>
                }
                @if (profileService.getProfile(message.userId)?.name) {
                <span class="name">{{ profileService.getProfile(message.userId)?.name }}</span>
                } @else {
                <span class="name">Unnamed</span>
                }
            </div>
            }

            <mat-card-content
                (click)="userService.isReady() && this.userService.getUser().id == message.userId ? editMessage(message) : {}">
                <div class="message-content">
                    <app-showmultimedia [multimedia]="message.multimedia"></app-showmultimedia>
                    @if (message.message) {
                    <app-showmessage [message]="message.translatedMessage ?? message.message"
                        [style]="message.style"></app-showmessage>
                    }
                </div>
            </mat-card-content>

            <mat-card-actions class="buttonbar">
                <button mat-mini-fab color="secondary" aria-label="Show or add comments"
                    (click)="!userService.isReady() ? handleCommentAfterLoginClick(message) : handleCommentClick(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined"
                        matBadge="{{ getCommentBadge(message.uuid) == 0 ? '' : getCommentBadge(message.uuid)}}"
                        matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">forum</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Like message"
                    (click)="!userService.isReady() ? likeMessageAfterLoginClick(message) : likeMessageClick(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined"
                        matBadge="{{ message.likes | shortNumber }}" matBadgePosition="after" matBadgeColor="accent"
                        matBadgeOverlap="true">thumb_up</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Dislike message"
                    (click)="!userService.isReady() ? dislikeMessageAfterLoginClick(message) : dislikeMessageClick(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined"
                        matBadge="{{ message.dislikes | shortNumber }}" matBadgePosition="after" matBadgeColor="accent"
                        matBadgeOverlap="true">thumb_down</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Fly to message" (click)="flyTo(message)">
                    <mat-icon class="material-symbols-outlined">place</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Navigate to message location."
                    (click)="navigateToMessageLocation(message)">
                    <mat-icon class="material-symbols-outlined">assistant_direction</mat-icon>
                </button>
                @if (this.userService.getUser().id != message.userId) {
                <button mat-mini-fab color="secondary" aria-label="Edit message"
                    (click)="editMessageUserProfile(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">settings_account_box</mat-icon>
                </button>
                }
                @if (this.userService.getUser().id == message.userId) {
                <button mat-mini-fab color="secondary" aria-label="Edit message" (click)="editMessage(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">edit</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Delete message" (click)="deleteMessage(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">delete_forever</mat-icon>
                </button>
                }
                @if (this.userService.getUser().id != message.userId) {
                <button mat-mini-fab color="secondary" aria-label="Block message" (click)="disableMessage(message)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">visibility_off</mat-icon>
                </button>
                }
            </mat-card-actions>
        </mat-card>
        }
    </div>
    }
    }
</mat-dialog-content>