<mat-dialog-content class="dialog">
    <button [attr.aria-hidden]="false" class="button_back" mat-mini-fab color="secondary" aria-label="Back" (click)="goBack()">
        <mat-icon [attr.aria-hidden]="false" class="material-symbols-outlined">arrow_back</mat-icon>
    </button>
    <div *ngIf="this.selectedMessages?.length === 0" [ngClass]="{
        'list': true, 
        'gradientAnimation': animation.cssclass === 'gradientAnimation',
        'radialAnimation': animation.cssclass === 'radialAnimation',
        'conicAnimation': animation.cssclass === 'conicAnimation'}" [style]="animation.style">        
        <div class="item" *ngFor="let message of messages; index as i" (click)="goToMessageDetails(message)">            
            <mat-card>
                <img *ngIf="user.base64Avatar != '' && user.id == message.userId" class="avatar" src="{{user.base64Avatar}}" />
                <img *ngIf="getMessageUserName(message).base64Avatar != '' && user.id != message.userId" class="avatar" src="{{getMessageUserName(message).base64Avatar}}" />
                <mat-card-header class="header">
                    <mat-card-title *ngIf="user.id == message.userId">{{user.name}}</mat-card-title>
                    <mat-card-title *ngIf="user.id != message.userId">{{getMessageUserName(message).name}}</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content [style]="message.style">{{message.message}}</mat-card-content>
                <mat-card-actions class="buttonbar">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined, buttonbar_icon" matBadge="{{message.views | shortNumber}}" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">visibility</mat-icon>
                    <mat-icon aria-hidden="false" class="material-symbols-outlined, buttonbar_icon" matBadge="{{message.likes | shortNumber}}" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">thumb_up</mat-icon>
                    <mat-icon aria-hidden="false" class="material-symbols-outlined, buttonbar_icon" matBadge="{{message.dislikes | shortNumber}}" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">thumb_down</mat-icon>
                    <mat-icon aria-hidden="false" class="material-symbols-outlined, buttonbar_icon" matBadge="{{message.comments | shortNumber}}" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">chat_bubble_outline</mat-icon>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <!-- Message Detail view-->
    <div *ngIf="selectedMessages?.length != 0" [ngClass]="{
        'list': true, 
        'gradientAnimation': animation.cssclass === 'gradientAnimation',
        'radialAnimation': animation.cssclass === 'radialAnimation',
        'conicAnimation': animation.cssclass === 'conicAnimation'}" [style]="animation.style">        
        <div class="item">            
            <mat-card>
                <img *ngIf="user.base64Avatar != '' && user.id == selectedMessages[selectedMessages.length - 1].userId" class="avatar" src="{{user.base64Avatar}}" />
                <img *ngIf="selectedMessageUser.base64Avatar != '' && user.id != selectedMessages[selectedMessages.length - 1].userId" class="avatar" src="{{selectedMessageUser.base64Avatar}}" />
                <mat-card-header class="header">
                    <mat-card-title *ngIf="user.id == selectedMessages[selectedMessages.length - 1].userId" (click)="editMessage(selectedMessages[selectedMessages.length - 1])">{{user.name}}</mat-card-title>
                    <mat-card-title *ngIf="user.id != selectedMessages[selectedMessages.length - 1].userId" (click)="editMessage(selectedMessages[selectedMessages.length - 1])">{{selectedMessageUser.name}}</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content [style]="selectedMessages[selectedMessages.length - 1].style">{{selectedMessages[selectedMessages.length - 1].message}}</mat-card-content>
                <mat-card-actions class="buttonbar">
                    <button *ngIf="user.id != selectedMessages[selectedMessages.length - 1].userId" mat-mini-fab [color]="likeButtonColor" aria-label="Like message" (click)="likeMessage(selectedMessages[selectedMessages.length - 1])">
                        <mat-icon aria-hidden="false" class="material-symbols-outlined" matBadge="{{selectedMessages[selectedMessages.length - 1].likes | shortNumber}}" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">thumb_up</mat-icon>
                    </button>
                    <button *ngIf="user.id != selectedMessages[selectedMessages.length - 1].userId" mat-mini-fab [color]="dislikeButtonColor" aria-label="Dislike message" (click)="dislikeMessage(selectedMessages[selectedMessages.length - 1])">
                        <mat-icon aria-hidden="false" class="material-symbols-outlined" matBadge="{{selectedMessages[selectedMessages.length - 1].dislikes | shortNumber}}" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true" >thumb_down</mat-icon>
                    </button>
                    <button *ngIf="user.id == selectedMessages[selectedMessages.length - 1].userId" mat-mini-fab color="secondary" aria-label="Drop a comment" (click)="addComment(selectedMessages[selectedMessages.length - 1])">
                        <mat-icon class="material-symbols-outlined">add_comment</mat-icon>
                    </button>
                    <button *ngIf="user.id != selectedMessages[selectedMessages.length - 1].userId" mat-mini-fab color="secondary" aria-label="Edit message" (click)="editMessageUserProfile(selectedMessages[selectedMessages.length - 1])">
                        <mat-icon aria-hidden="false" class="material-symbols-outlined" >person</mat-icon>
                    </button>
                    <button *ngIf="user.id == selectedMessages[selectedMessages.length - 1].userId" mat-mini-fab color="secondary" aria-label="Edit message" (click)="editMessage(selectedMessages[selectedMessages.length - 1])">
                        <mat-icon aria-hidden="false" class="material-symbols-outlined" >edit</mat-icon>
                    </button>
                    <button class="button_messagemenu" [matMenuTriggerFor]="messageMenu" [matMenuTriggerData]="{user: user, message: selectedMessages[selectedMessages.length - 1]}" aria-hidden="false" mat-mini-fab color="secondary" aria-label="Message menu" (click)="{}">
                        <mat-icon aria-hidden="false"  class="material-symbols-outlined" >more_vert</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="item" *ngFor="let comment of comments; index as i" (click)="goToMessageDetails(comment)">            
            <mat-card>
                <img *ngIf="user.base64Avatar != '' && user.id == comment.userId" class="avatar" src="{{user.base64Avatar}}" />
                <img *ngIf="getMessageUserName(comment).base64Avatar != '' && user.id != comment.userId" class="avatar" src="{{getMessageUserName(comment).base64Avatar}}" />
                <mat-card-header class="header">
                    <mat-card-title *ngIf="user.id == comment.userId">{{user.name}}</mat-card-title>
                    <mat-card-title *ngIf="user.id != comment.userId">{{getMessageUserName(comment).name}}</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content [style]="comment.style">{{comment.message}}</mat-card-content>
                <mat-card-actions class="buttonbar">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined, buttonbar_icon" matBadge="{{comment.views | shortNumber}}" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">visibility</mat-icon>
                    <mat-icon aria-hidden="false" class="material-symbols-outlined, buttonbar_icon" matBadge="{{comment.likes | shortNumber}}" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">thumb_up</mat-icon>
                    <mat-icon aria-hidden="false" class="material-symbols-outlined, buttonbar_icon" matBadge="{{comment.dislikes | shortNumber}}" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">thumb_down</mat-icon>
                    <mat-icon aria-hidden="false" class="material-symbols-outlined, buttonbar_icon" matBadge="{{comment.comments | shortNumber}}" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="true">chat_bubble_outline</mat-icon>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</mat-dialog-content>

<mat-menu #messageMenu="matMenu">
    <ng-template matMenuContent let-user="user" let-message="message">
        <button mat-mini-fab color="secondary" aria-label="Fly to message" (click)="flyTo(message)">
            <mat-icon class="material-symbols-outlined">place</mat-icon>
        </button>
        <button mat-mini-fab color="secondary" aria-label="Navigate to message location." (click)="navigateToMessageLocation(message)">
            <mat-icon class="material-symbols-outlined">assistant_direction</mat-icon>
        </button>
        <button *ngIf="user.id != message.userId" mat-mini-fab color="secondary" aria-label="Block message" (click)="disableMessage(message)">
            <mat-icon aria-hidden="false" class="material-symbols-outlined" >visibility_off</mat-icon>
        </button>
        <button *ngIf="user.id == message.userId" mat-mini-fab color="secondary" aria-label="Delete message" (click)="deleteMessage(message)">
            <mat-icon aria-hidden="false" class="material-symbols-outlined" >delete_forever</mat-icon>
        </button>
    </ng-template>
</mat-menu>