.emoticon-picker {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.emoticon-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(2.25rem, 1fr));
  gap: 0.75rem;
  justify-items: center;
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.emoticon-grid button {
  border: none;
  background: transparent;
  font-size: 1.9rem;
}

mat-tab-group {
  --mat-tab-header-label-text-size: 2.5rem;
}

mat-tab-group ::ng-deep .mdc-tab__content {
  justify-content: center;
}