<app-dialog-header
  [title]="'common.tileDelete.title' | transloco">
</app-dialog-header>
<mat-dialog-content class="confirm-content">
  <div class="confirm-box">{{ 'common.tileDelete.confirm' | transloco }}</div>
</mat-dialog-content>
<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-dialog-close mat-icon-button [attr.aria-label]="'common.actions.no' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button color="warn" [mat-dialog-close]="true" mat-icon-button [attr.aria-label]="'common.tileDelete.confirmYes' | transloco"><mat-icon>delete</mat-icon></button>
</mat-dialog-actions>
