@if (showTenor) {
<div class="url-container">
    <input #searchInput type="search" enterkeyhint="search" [formControl]="searchControl" (keyup.enter)="search()"
        placeholder="Search in Tenor" />

    <button (click)="search()">
        @if (
        (nextSearch === '' && searchControl.value !== '') ||
        (searchControl.value !== lastSearchTerm) ||
        (searchControl.value === '')
        ) {
        <mat-icon class="material-symbols-outlined">search</mat-icon>
        } @else {
        <mat-icon class="material-symbols-outlined">arrow_circle_right</mat-icon>
        }
    </button>

</div>

<mat-dialog-content>
    @if (results.length > 0) {
    <div class="gallery">
        @for (result of results; track result.id) {
        <div>
            <button type="button" class="gif-button" (click)="onApplyClick(result)" aria-label="Select GIF">
                <img [src]="result.media_formats.gif.url" alt="Gif result" />
            </button>
        </div>
        }
    </div>
    }
</mat-dialog-content>
} @else {
<div class="platform-tile-container">
    <div class="platform-tile">
        <app-enable-external-content [platform]="'tenor'" (enabledChange)="onEnabledChange($event)">
        </app-enable-external-content>
    </div>
</div>
}
