:host {
    color: var(--mat-app-text-color);
}

.messageDropDialog .mat-dialog-container {
    padding: 0rem;
}

.mat-mdc-dialog-content {
    padding: 0px !important;
    max-height: none;
    height: 90%;
}


.gallery {
    padding: 1rem;
    column-count: 2;
    column-gap: 10px;
}

.gallery img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    border-radius: 1rem;
}


@media (min-width: 768px) {
    .gallery {
        padding: 1rem;
        column-count: 3;
        column-gap: 10px;
    }
}

@media (min-width: 1200px) {
    .gallery {
        padding: 1rem;
        column-count: 6;
        column-gap: 10px;
    }
}

.url-container {
    position: sticky;
    z-index: 1000;
    top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    border: 1px solid var(--mat-fab-small-container-color);
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.5rem;
    min-height: 2.5rem;
}

.url-container input[type="search"] {
    padding-left: 0.5rem;
    flex-grow: 1;
    border: none;
    outline: none;
    height: 2.5rem;
    align-items: center;
}

.url-container button {
    color: var(--mat-fab-small-foreground-color);
    background-color: var(--mat-fab-small-container-color);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    height: 2.5rem;
}