<div class="url-container">
    <input #searchInput type="search" enterKeyHint="search" [formControl]="searchterm" (keyup.enter)="search()"
        placeholder="Search in Tenor" />

    <button (click)="search()">
        @if (
        (nextSearch === '' && searchterm.value !== '') ||
        (searchterm.value !== lastSearchterm) ||
        (searchterm.value === '')
        ) {
        <mat-icon>search</mat-icon>
        } @else {
        <mat-icon>arrow_circle_right</mat-icon>
        }
    </button>

</div>

<mat-dialog-content>
    @if (results.length > 0) {
    <div class="gallery">
        @for (result of results; track result.id) {
        <div>
            <img [src]="result.media_formats.gif.url" alt="Gif" (click)="onApplyClick(result)" />
        </div>
        }
    </div>
    }
</mat-dialog-content>