:host {
    color: var(--mat-app-text-color);
}

.messageDropDialog .mat-dialog-container {
    padding: 0rem;
}

.mat-mdc-dialog-content {
    padding: 0px !important;
    max-height: none;
    height: 90%;
}


.gallery {
    padding: 1rem;
    column-count: 2;
    column-gap: 10px;
}

.gallery img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    border-radius: 1rem;
}

.gif-button {
    border: none;
    padding: 0;
    background: transparent;
    width: 100%;
    display: block;
}

.gif-button:focus-visible {
    outline: 2px solid var(--mat-fab-small-container-color);
    outline-offset: 2px;
}


@media (min-width: 768px) {
    .gallery {
        padding: 1rem;
        column-count: 3;
        column-gap: 10px;
    }
}

@media (min-width: 1200px) {
    .gallery {
        padding: 1rem;
        column-count: 6;
        column-gap: 10px;
    }
}

.url-container {
    position: sticky;
    z-index: 1000;
    top: 0rem;
    display: flex;
    background-color: var(--mat-card-filled-container-color);
    overflow: hidden;
    height: 4rem;
    min-height: 4rem;
    align-items: center;
    width: 100%;
}

.url-container input[type="search"] {
    margin-left: 1rem;
    flex-grow: 1;
    border: none;
    outline: none;
    height: 2.5rem;
    align-items: center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.url-container button {
    margin-right: 1rem;
    color: var(--mat-fab-small-foreground-color);
    background-color: var(--mat-fab-small-container-color);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    height: 2.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.platform-tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 1rem;
    padding: 1rem;
}

.platform-tile {
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.05rem;
    color: var(--mat-card-subtitle-text-color);
    background-color: var(--mat-card-filled-container-color);
    box-shadow: 0 4px 12px var(--mat-card-outlined-outline-color);
}