.messageDropDialog .mat-dialog-container {
    padding: 0rem;
}

.mat-mdc-dialog-content {
    padding: 0px !important;
    max-height: none;
    height: 90%;
}

.full-width {
    width: 100%;
    height: 100%;
}

.gallery {
    padding: 1rem;
    column-count: 2;
    column-gap: 10px;
}

.gallery img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    border-radius: 1rem;
}


@media (min-width: 768px) {
    .gallery {
        padding: 1rem;
        column-count: 3;
        column-gap: 10px;
    }
}

@media (min-width: 1200px) {
    .gallery {
        padding: 1rem;
        column-count: 6;
        column-gap: 10px;
    }
}

.search-container {
    display: flex;
    border: 1px solid gray;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.5rem;
}

.search-container input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: none;
    outline: none;
    height: 2rem;
}

.search-container button {
    color: gray;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    height: 100%;
}