<h2 mat-dialog-title>{{ 'common.user.profile.title' | transloco }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>{{ 'common.user.profile.nameLabel' | transloco }}</mat-label>
    <input matInput maxlength="64" [(ngModel)]="userService.getProfile().name" />
  </mat-form-field>

  <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" class="file-input"
    (change)="onFileSelected($event)" #fileUpload />

  @if (userService.getProfile().base64Avatar === '') {
  <div class="avatar-area">
    <button mat-flat-button class="button-set-avatar" (click)="fileUpload.click()">
      <span>{{ 'common.user.profile.setAvatar' | transloco }}</span>
    </button>
  </div>
  } @else {
  <div class="avatar-area">
    <div class="center">
      <img class="avatar" [src]="userService.getProfile().base64Avatar"
        [attr.alt]="userService.getProfile().name
          ? ('common.user.profile.avatarAltName' | transloco: { name: userService.getProfile().name })
          : ('common.user.profile.avatarAltFallback' | transloco)" /><br />
    </div>
    <div class="button-style">
      <button mat-mini-fab color="primary" class="upload-button" (click)="deleteAvatar()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }

  <div class="style-area">
    <div class="sample-style" [style]="userService.getProfile().defaultStyle">
      {{ 'common.user.profile.styleSample' | transloco }}
    </div>
    <button mat-flat-button aria-hidden="false" class="button-set-avatar" (click)="changeDefaultStyle()">
      <mat-icon>cycle</mat-icon>
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="onAbortClick()">{{ 'common.actions.abort' | transloco }}</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="userService.getProfile()">
    {{ 'common.actions.apply' | transloco }}
  </button>
</mat-dialog-actions>
