<h2 mat-dialog-title>My profile</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Profile name</mat-label>
    <input matInput maxlength="64" [(ngModel)]="userService.getProfile().name" />
  </mat-form-field>

  <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" class="file-input"
    (change)="onFileSelected($event)" #fileUpload />

  @if (userService.getProfile().base64Avatar === '') {
  <div class="avatar-area">
    <div class="center">Set my profile avatar.</div>
    <div class="button-style">
      <button mat-mini-fab color="primary" class="upload-button" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </div>
  } @else {
  <div class="avatar-area">
    <div class="center">
      <img class="avatar" [src]="userService.getProfile().base64Avatar" /><br />
    </div>
    <div class="button-style">
      <button mat-mini-fab color="primary" class="upload-button" (click)="deleteAvatar()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }

  <div class="style-area">
    <div class="sample-style" [style]="userService.getProfile().defaultStyle">
      My selected font style
    </div>
    <button mat-mini-fab color="primary" aria-hidden="false" class="button-style" (click)="changeDefaultStyle()">
      <mat-icon class="material-symbols-outlined">cycle</mat-icon>
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="onAbortClick()">Abort</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="userService.getProfile()">
    Apply
  </button>
</mat-dialog-actions>