<div *ngIf="!weather" class="tile weather-tile">
    <div class="tile-info">
        <i class="wi wi-na" style="font-size: 1.5rem"></i>
        <div class="tile-content">
            <div class="tile-temperature">Too many</div>
            <div class="tile-minmax">requests</div>
        </div>
    </div>
</div>
<div *ngIf="weather" class="tile weather-tile" (click)="openWeatherDetails()">
    <div class="tile-info">
        <i class="wi wi-{{ weatherIcon }}"></i>
        <div class="tile-content">
            <div class="tile-temperature">{{ weather.current.temperature }} °C</div>
            <div class="tile-minmax" *ngIf="minMax">{{minMax.min}} °C - {{minMax.max}} °C</div>
        </div>
    </div>
</div>