<app-dialog-header [icon]="data.variant === 'vanishing' ? 'change_circle' : 'view_column'"
  [title]="(data.variant === 'vanishing' ? 'common.contact.chatroom.games.newVanishingConnectFourTitle' : 'common.contact.chatroom.games.newConnectFourTitle') | transloco"></app-dialog-header>

<mat-dialog-content class="new-game-content">
  <app-connect-four-board [board]="board()" [moves]="moves()" [variant]="data.variant" [playerMark]="'X'" [disabled]="false"
    [statusText]="(data.variant === 'vanishing' ? 'common.contact.chatroom.games.chooseFirstConnectFourMoveVanishing' : 'common.contact.chatroom.games.chooseFirstConnectFourMove') | transloco"
    (move)="selectColumn($event)"></app-connect-four-board>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-icon-button class="action-close" type="button" (click)="close()"
    [attr.aria-label]="'common.actions.close' | transloco">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-icon-button color="primary" type="button" (click)="send()" [disabled]="selectedColumn() === null"
    [attr.aria-label]="'common.contact.chatroom.games.sendGameAria' | transloco">
    <mat-icon>send</mat-icon>
  </button>
</mat-dialog-actions>
