<app-dialog-header
  [title]="'common.tileEdit.pollutionTitle' | transloco">
</app-dialog-header>

<mat-dialog-content class="edit-content">
  <div class="toggle-grid">
    @for (item of keys; track item.key) {
      <mat-slide-toggle [checked]="selectedKeys().has(item.key)" (change)="toggleKey(item.key, $event.checked)">
        {{ item.labelKey | transloco }}
      </mat-slide-toggle>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button type="button" (click)="cancel()" mat-icon-button [attr.aria-label]="'common.cancel' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button mat-icon-button type="button" (click)="help.open('tileEditPollution')"
    [attr.aria-label]="'common.actions.help' | transloco">
    <mat-icon>help</mat-icon>
  </button>
  <button mat-icon-button type="button" (click)="openDisplaySettings()"
    [attr.aria-label]="'common.tileSettings.title' | transloco">
    <mat-icon>settings</mat-icon>
  </button>
  <button color="primary" type="button" (click)="save()" mat-icon-button [attr.aria-label]="'common.save' | transloco"><mat-icon>save</mat-icon></button>
</mat-dialog-actions>
