<app-dialog-header
  [icon]="headerIcon"
  [title]="headerTitle">
</app-dialog-header>

<mat-dialog-content class="edit-content">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'common.tileFields.type' | transloco }}</mat-label>
    <mat-select [formControl]="typeControl">
      @for (type of actionTypes; track type.value) {
        <mat-option [value]="type.value">{{ type.labelKey | transloco }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'common.tileFields.target' | transloco }}</mat-label>
    <input matInput cdkFocusInitial [formControl]="valueControl" />
    @if (valueControl.invalid && valueControl.touched) {
      <mat-error>
        {{ 'common.tileFields.invalidTarget' | transloco:{ type: ('common.tileLinkTypes.' + typeControl.value) | transloco } }}
      </mat-error>
    }
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button type="button" (click)="cancel()" mat-icon-button [attr.aria-label]="'common.cancel' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button mat-icon-button type="button" (click)="help.open('tileEditQuickActionAction')"
    [attr.aria-label]="'common.actions.help' | transloco">
    <mat-icon>help</mat-icon>
  </button>
  <button mat-icon-button type="button" (click)="openDisplaySettings()"
    [attr.aria-label]="'common.tileSettings.title' | transloco">
    <mat-icon>settings</mat-icon>
  </button>
  <button color="primary" type="button" (click)="save()" mat-icon-button [attr.aria-label]="'common.save' | transloco"><mat-icon>save</mat-icon></button>
</mat-dialog-actions>
