<h2 mat-dialog-title class="dialog-title">{{ 'common.noteList.deleteDialog.title' | transloco }}</h2>
<mat-dialog-content>
  {{ 'common.noteList.deleteDialog.confirm' | transloco }}
</mat-dialog-content>
<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-dialog-close cdkFocusInitial [mat-dialog-close]="false" mat-icon-button [attr.aria-label]="'common.actions.abort' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button mat-dialog-close [mat-dialog-close]="true" mat-icon-button [attr.aria-label]="'common.actions.yes' | transloco"><mat-icon>check</mat-icon></button>
</mat-dialog-actions>
