@if (data.mode === 'add_connect') {
<h2 mat-dialog-title class="dialog-title">{{ 'common.contact.connect.title' | transloco }}</h2>
}

<mat-dialog-content>
  <p>{{ 'common.contact.connect.description' | transloco }}</p>
  <mat-form-field appearance="fill" class="connect-input-field">
    <mat-label>{{ 'common.contact.connect.label' | transloco }}</mat-label>
    <input #connectIdInput matInput type="text" maxlength="64"
      [placeholder]="'common.contact.connect.placeholder' | transloco"
      [(ngModel)]="data.connectId" />
    <button mat-icon-button matSuffix type="button"
      [attr.aria-label]="'common.clipboard.pasteLabel' | transloco"
      (click)="onPasteFromClipboard($event)">
      <mat-icon>content_paste_go</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-dialog-close cdkFocusInitial [attr.aria-label]="'common.contact.connect.abortAria' | transloco" (click)="onAbortClick()" mat-icon-button class="action-close"><mat-icon>close</mat-icon></button>
  <button mat-icon-button type="button" (click)="help.open('contactConnect')"
    [attr.aria-label]="'common.actions.help' | transloco">
    <mat-icon>help</mat-icon>
  </button>

  @if (data.connectId !== '') {
  <button mat-dialog-close [attr.aria-label]="'common.contact.connect.applyAria' | transloco" (click)="onApplyClick()" mat-icon-button><mat-icon>check</mat-icon></button>
  }
</mat-dialog-actions>
