@if (data.mode == 'add_connect') {
<h2 mat-dialog-title>Add a connection</h2>
}

<mat-dialog-content>
  <p>The connect id I like to import</p>
  <input matInput type="text" maxlength="64" placeholder="The connect id." [(ngModel)]="data.connectId" />
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial aria-label="Abort import" (click)="onAbortClick()">
    Abort
  </button>

  @if (data.connectId != '') {
  <button mat-button mat-dialog-close aria-label="Apply connection" (click)="onApplyClick()">
    Apply
  </button>
  }
</mat-dialog-actions>