<h2 mat-dialog-title class="dialog-title">{{ 'common.contact.connect.scannerTitle' | transloco }}</h2>
<mat-dialog-content class="dialog">
    <video #video class="video-preview" autoplay muted playsinline></video>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
    <button mat-dialog-close [mat-dialog-close]="undefined" mat-icon-button
        [attr.aria-label]="'common.actions.close' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
</mat-dialog-actions>