<app-dialog-header
  [title]="'common.contact.connect.scannerTitle' | transloco">
</app-dialog-header>
<mat-dialog-content class="dialog">
    <video #video class="video-preview" autoplay muted playsinline></video>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
    <button mat-dialog-close [mat-dialog-close]="undefined" mat-icon-button
        [attr.aria-label]="'common.actions.close' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
    <button mat-icon-button type="button" (click)="help.open('scanner')"
        [attr.aria-label]="'common.actions.help' | transloco">
        <mat-icon>help</mat-icon>
    </button>
</mat-dialog-actions>
