<h2 mat-dialog-title class="dialog-title">{{ 'common.tileEdit.multitextTitle' | transloco }}</h2>

<mat-dialog-content class="edit-content">
  <button class="icon-pick-button" mat-stroked-button color="primary" type="button" (click)="pickIcon()"
    [attr.aria-label]="'common.tileFields.pickIcon' | transloco">
    @if (icon()) {
      <mat-icon>{{ icon() }}</mat-icon>
    } @else {
      <span>{{ 'common.tileFields.pickIcon' | transloco }}</span>
    }
  </button>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'common.tileFields.title' | transloco }}</mat-label>
    <input matInput cdkFocusInitial [formControl]="titleControl" maxlength="64" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'common.tileFields.text' | transloco }}</mat-label>
    <textarea matInput rows="6" [formControl]="textControl"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button type="button" (click)="cancel()" mat-icon-button [attr.aria-label]="'common.cancel' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button mat-icon-button type="button" (click)="help.open('tileEditMultitext')"
    [attr.aria-label]="'common.actions.help' | transloco">
    <mat-icon>help</mat-icon>
  </button>
  <button color="primary" type="button" (click)="save()" mat-icon-button [attr.aria-label]="'common.save' | transloco"><mat-icon>save</mat-icon></button>
</mat-dialog-actions>
