<h3 mat-dialog-title class="dialog-title">
    {{ isConfirming ? ('common.pin.confirmTitle' | transloco) : ('common.pin.createTitle' | transloco) }}
</h3>
<p class="dialog-hint">
    {{ isConfirming ? ('common.pin.confirmHint' | transloco) : ('common.pin.createHint' | transloco) }}
</p>

<div class="pin-display">
    @for (digit of isConfirming ? confirmPinDisplay : pinDisplay; track $index) {
    <div [ngClass]="{ 'pin-dot': true, 'active': $index === currentPinIndex }">
        {{ digit || '•' }}
    </div>
    }
</div>

<div class="pin-pad">
    @for (digit of ['1','2','3','4','5','6','7','8','9']; track $index) {
    <button mat-mini-fab color="accent" (click)="addDigit(digit)">
        {{ digit }}
    </button>
    }

    <!-- Reset button with icon. -->
    <button mat-mini-fab color="primary" (click)="reset()">
        <mat-icon>autorenew</mat-icon>
    </button>

    <!-- 0 button. -->
    <button mat-mini-fab color="accent" (click)="addDigit('0')">
        0
    </button>

    <!-- Cancel button with icon. -->
    <button mat-mini-fab color="primary" (click)="cancel()">
        <mat-icon>cancel</mat-icon>
    </button>
</div>
