<app-dialog-header icon="password" [title]="'common.secretDrop.createTitle' | transloco"></app-dialog-header>

<mat-dialog-content>
  <div class="secret-drop-form">
    <p class="info">{{ 'common.secretDrop.encryptionHint' | transloco }}</p>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'common.secretDrop.messageLabel' | transloco }}</mat-label>
      <textarea matInput rows="5" maxlength="2000" [(ngModel)]="message"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'common.secretDrop.hintLabel' | transloco }}</mat-label>
      <textarea matInput rows="2" maxlength="512" [(ngModel)]="hint"></textarea>
      <mat-hint>{{ 'common.secretDrop.hintHelp' | transloco }}</mat-hint>
    </mat-form-field>

    <div class="password-grid">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'common.secretDrop.passwordLabel' | transloco }}</mat-label>
        <input matInput type="password" autocomplete="new-password" [(ngModel)]="password">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'common.secretDrop.passwordRepeatLabel' | transloco }}</mat-label>
        <input matInput type="password" autocomplete="new-password" [(ngModel)]="passwordRepeat">
      </mat-form-field>
    </div>

    <mat-checkbox [(ngModel)]="oneTime">{{ 'common.secretDrop.oneTimeLabel' | transloco }}</mat-checkbox>

    <div class="validity-grid">
      <mat-checkbox [(ngModel)]="useValidFrom">{{ 'common.secretDrop.useValidFrom' | transloco }}</mat-checkbox>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'common.secretDrop.validFrom' | transloco }}</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="validFromLocal" [disabled]="!useValidFrom">
      </mat-form-field>
      <mat-checkbox [(ngModel)]="useValidUntil">{{ 'common.secretDrop.useValidUntil' | transloco }}</mat-checkbox>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'common.secretDrop.validUntil' | transloco }}</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="validUntilLocal" [disabled]="!useValidUntil">
      </mat-form-field>
    </div>

    <app-location-picker-tile [location]="location" markerType="message" [zoom]="12"
      (locationChange)="updateLocation($event)"></app-location-picker-tile>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-icon-button mat-dialog-close [attr.aria-label]="'common.actions.abort' | transloco">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-flat-button color="primary" (click)="create()" [disabled]="saving()">
    <mat-icon>password</mat-icon>
    <span>{{ 'common.secretDrop.createAction' | transloco }}</span>
  </button>
</mat-dialog-actions>
