<div class="url-container">
    <input type="url" [(ngModel)]="multimediaUrl" (input)="validateUrl()" placeholder="Enter multimedia url" />

    @if (!urlInvalid) {
    <button mat-icon-button (click)="onApplyClick()">
        <mat-icon>check</mat-icon>
    </button>
    } @else {
    <button (click)="onCancelClick()">
        <mat-icon>cancel</mat-icon>
    </button>
    }
</div>

<!-- dezenter Hinweis, falls URL zu deaktivierter Plattform gehört -->
@if (disabledReason !== '') {
<div class="disabled-hint">
    {{ disabledReason }}
</div>
}

<mat-dialog-content class="full-width">
    @if (safeHtml !== undefined) {
    <div class="multimedia_container" [innerHTML]="safeHtml"></div>
    <div class="center">
        <button mat-mini-fab color="primary" class="upload-button" (click)="clearContent()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    }
    <div class="content">
        <div class="platform-tile-container">
            <div class="platform-tile">
                <app-enable-external-content [platform]="'pinterest'" (enabledChange)="onEnabledChange($event)">
                </app-enable-external-content>
            </div>
            <div class="platform-tile">
                <app-enable-external-content [platform]="'spotify'" (enabledChange)="onEnabledChange($event)">
                </app-enable-external-content>
            </div>
            <div class="platform-tile">
                <app-enable-external-content [platform]="'tiktok'" (enabledChange)="onEnabledChange($event)">
                </app-enable-external-content>
            </div>
            <div class="platform-tile">
                <app-enable-external-content [platform]="'youtube'" (enabledChange)="onEnabledChange($event)">
                </app-enable-external-content>
            </div>
        </div>
    </div>
</mat-dialog-content>