<div class="url-container">
    <input type="url" [(ngModel)]="multimediaUrl" (input)="validateUrl()"
        [placeholder]="'common.multimedia.importUrlPlaceholder' | transloco" />

    @if (!urlInvalid) {
    <button mat-icon-button (click)="onApplyClick()">
        <mat-icon>check</mat-icon>
    </button>
    } @else {
    <button (click)="onCancelClick()">
        <mat-icon>cancel</mat-icon>
    </button>
    }
</div>

<!-- dezenter Hinweis, falls URL zu deaktivierter Plattform gehört -->
@if (disabledReason !== '') {
<div class="disabled-hint">
    {{ disabledReason }}
</div>
@if (showExternalSettingsButton) {
<div class="disabled-hint__actions">
    <button mat-stroked-button color="primary" type="button" (click)="openExternalContentSettings()">
        {{ 'common.multimedia.openExternalContentSettings' | transloco }}
    </button>
</div>
}
}

<mat-dialog-content class="full-width">
    @if (safeHtml !== undefined) {
    <div class="multimedia_container" [innerHTML]="safeHtml"></div>
    <div class="center">
        <button mat-mini-fab color="primary" class="upload-button" (click)="clearContent()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    }
</mat-dialog-content>
