:host {
    color: var(--mat-app-text-color);
}


.messageDropDialog .mat-dialog-container {
    padding: 0rem;
}

.mat-mdc-dialog-content {
    min-height: 350px;
    max-height: 90vh;
    min-width: 350px;
    max-width: 90vw;
}

.full-width {
    width: 100%;
    height: 100%;
}

.url-container {
    display: flex;
    border: 1px solid var(--mat-fab-small-container-color);
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.5rem;
    min-height: 2.5rem;
    background-color: var(--mat-fab-small-container-color);
}

.url-container input[type="text"] {
    padding-left: 0.5rem;
    flex-grow: 1;
    border: none;
    outline: none;
    height: 2.5rem;
    align-items: center;
}

.url-container button {
    color: var(--mat-fab-small-foreground-color);
    background-color: var(--mat-fab-small-container-color);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    height: 2.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.multimedia_container {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--mat-card-subtitle-text-color);
    background-color: var(--mat-card-filled-container-color);
    box-shadow: 0 4px 12px var(--mat-card-outlined-outline-color);
    border-radius: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0.5rem;
}

.platform-tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.platform-tile {
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.05rem;
    color: var(--mat-card-subtitle-text-color);
    background-color: var(--mat-card-filled-container-color);
    box-shadow: 0 4px 12px var(--mat-card-outlined-outline-color);
}

.platform-tile:hover {
    transform: scale(1.02);
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}