<div class="search-container">
    <mat-form-field class="search-input">
        <input matInput placeholder="Serach in Tenor" [(ngModel)]="searchTermTenor">
    </mat-form-field>
    <button mat-icon-button (click)="searchTenor()">
        <mat-icon>search</mat-icon>
    </button>
</div>
<mat-dialog-content class="full-width">
    <div *ngIf="tensorResults" class="gallery">
        <div *ngFor="let result of tensorResults">
            <img [src]="result.media_formats.gif.url" alt="Gif">
        </div>
    </div>
</mat-dialog-content>