<h2 mat-dialog-title>Your message</h2>
<button mat-mini-fab class="button_random" color="secondary" aria-label="Drop a new message" cdkFocusInitial (click)="onNewFontClick()">
    <mat-icon class="material-symbols-outlined">loop</mat-icon>
</button>
<mat-dialog-content class="full-width">
    <textarea
        [style]="messageStyle"
        maxlength="512"
        type="text" 
        [(ngModel)]="message"
        matInput>
    </textarea>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="button_drop" mat-flat-button color="primary" aria-label="Drop a new message" cdkFocusInitial (click)="onDropClick()">
        <mat-icon class="material-symbols-outlined">send</mat-icon>
        Drop message
    </button>
</mat-dialog-actions>