textarea {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
    resize: none;
}

.full-width {
    width: 100%;
    height: 100%;
}

button {
    margin: auto;
    width: 85%;
    border-radius: 1rem;
  }