<!-- Show existing content when the platform is enabled. -->
@if (isPlatformEnabled) {
@if (multimedia?.type === 'sticker') {
<div class="media_block">
    <div class="multimedia_container multimedia_container--sticker">
        @if (stickerImageLoading) {
        <span class="multimedia_loading" aria-hidden="true">
            <mat-spinner diameter="32" strokeWidth="3"></mat-spinner>
        </span>
        }
        @if (stickerImageError) {
        <span class="multimedia_error" aria-hidden="true">
            <mat-icon>broken_image</mat-icon>
        </span>
        }
        @if (getRenderableImageUrl()) {
        <img class="multimedia_image multimedia_image--sticker multimedia_image--protected" [src]="getRenderableImageUrl()"
            [attr.alt]="multimedia?.title || ('common.multimedia.embeddedAlt' | transloco)" draggable="false"
            (load)="onStickerImageLoaded()" (error)="onStickerImageError()" />
        <img class="multimedia_protect_overlay" [src]="stickerProtectionOverlayUrl" alt="" aria-hidden="true"
            draggable="false" />
        }
    </div>
    @if (multimedia?.attribution !== '') {
    <a class="attribution-link" [class.attribution-link--compact]="multimedia?.type === 'pinterest'"
        [href]="multimedia?.sourceUrl" target="_blank" rel="noopener noreferrer">
        {{ multimedia?.attribution }}
    </a>
    }
</div>
} @else if (multimedia?.type === 'tenor' || multimedia?.type === 'unsplash') {
<div class="media_block">
    <div class="multimedia_container">
        <img class="multimedia_image" [src]="getRenderableImageUrl()"
            [attr.alt]="multimedia?.title || ('common.multimedia.embeddedAlt' | transloco)" />
    </div>
    @if (multimedia?.attribution !== '') {
    <a class="attribution-link" [class.attribution-link--compact]="multimedia?.type === 'pinterest'"
        [href]="multimedia?.sourceUrl" target="_blank" rel="noopener noreferrer">
        {{ multimedia?.attribution }}
    </a>
    }
</div>
} @else if (multimedia?.type !== 'tenor' && safeHtml) {
<div class="media_block">
    <div class="oembed_container" [class.oembed-youtube]="multimedia?.type === 'youtube'"
        [class.oembed-spotify]="multimedia?.type === 'spotify'" [class.oembed-tiktok]="multimedia?.type === 'tiktok'"
        [class.oembed-pinterest]="multimedia?.type === 'pinterest'" [innerHTML]="safeHtml"></div>
    @if (multimedia?.attribution !== '') {
    <a class="attribution-link" [class.attribution-link--compact]="multimedia?.type === 'pinterest'"
        [href]="multimedia?.sourceUrl" target="_blank" rel="noopener noreferrer">
        {{ multimedia?.attribution }}
    </a>
    }
</div>
}
} @else {
@if (disabledReason !== '') {
<div class="disabled-hint">
    {{ disabledReason }}
</div>
}
@if (showExternalSettingsButton) {
<div class="disabled-hint__actions">
    <button mat-stroked-button color="primary" type="button" (click)="openExternalContentSettings()">
        {{ 'common.multimedia.openExternalContentSettings' | transloco }}
    </button>
</div>
}
}
