<div *ngIf="multimedia?.type === 'tenor'" class="media_block">
    <div class="multimedia_container">
        <img class="multimedia_image" [src]="multimedia!.url">
    </div>
    <a *ngIf="multimedia?.attribution !== ''" class="attribution_link" [href]="multimedia?.sourceUrl" target="_blank">
        {{ multimedia?.attribution }}
    </a>
</div>

<div *ngIf="multimedia?.type !== 'tenor' && safeHtml != ''" class="media_block">
    <div class="oembed_container" [innerHTML]="safeHtml"></div>
    <a *ngIf="multimedia?.attribution !== ''" class="attribution_link" [href]="multimedia?.sourceUrl" target="_blank">
        {{ multimedia?.attribution }}
    </a>
</div>