.media_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.multimedia_image {
    max-width: 95%;
    object-fit: contain;
    border-radius: 0.5rem;
    display: block;
    margin: 0 auto;
}

.oembed_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
}

.oembed_container iframe {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 9 / 16;
}

.attribution_link {
    color: white;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}