@if (hasVisibleTiles) {
  <div class="tile-area"
    [style.--place-tile-bg-image]="getTileBackgroundImage()"
    [style.--place-tile-bg-opacity]="getTileBackgroundOpacity()">
    <div class="tile-grid">
      @for (tile of visibleTiles; track trackByTile($index, tile)) {
        @switch (tile.type) {
          @case ('datetime') {
          <app-datetime-tile class="tile" [timezone]="resolvedPlace?.timezone || ''"></app-datetime-tile>
        }
        @case ('weather') {
          <app-weather-tile class="tile" [place]="resolvedPlace!"></app-weather-tile>
        }
        @case ('airQuality') {
          <app-air-quality-tile class="tile" [place]="resolvedPlace!"></app-air-quality-tile>
        }
        @case ('note') {
          <app-note-tile class="tile" [place]="resolvedPlace!"></app-note-tile>
        }
        @case ('message') {
          <app-message-tile class="tile" [place]="resolvedPlace!"></app-message-tile>
        }
        @case ('hashtags') {
          <app-hashtag-tile class="tile" [place]="resolvedPlace" [contact]="resolvedContact" [experience]="resolvedExperience"></app-hashtag-tile>
        }
        @case ('placeContacts') {
          <app-relation-tile class="tile" [place]="resolvedPlace!" [tile]="tile"></app-relation-tile>
        }
        @case ('contactPlaces') {
          <app-relation-tile class="tile" [contact]="resolvedContact!" [tile]="tile"></app-relation-tile>
        }
        @case ('image') {
          <app-image-tile class="tile" [place]="resolvedPlace!"></app-image-tile>
        }
        @case ('custom-experience') {
          <app-experience-tile class="tile" [place]="resolvedPlace!"></app-experience-tile>
        }
        @case ('custom-text') {
          <app-text-tile class="tile" [place]="resolvedPlace" [contact]="resolvedContact" [tile]="tile"></app-text-tile>
        }
        @case ('custom-multitext') {
          <app-multitext-tile class="tile" [place]="resolvedPlace" [contact]="resolvedContact" [tile]="tile"></app-multitext-tile>
        }
        @case ('custom-date') {
          <app-anniversary-tile class="tile" [place]="resolvedPlace" [contact]="resolvedContact" [tile]="tile"></app-anniversary-tile>
        }
        @case ('custom-todo') {
          <app-todo-tile class="tile" [place]="resolvedPlace" [contact]="resolvedContact" [tile]="tile"></app-todo-tile>
        }
        @case ('custom-quickaction') {
          <app-quick-action-tile class="tile" [place]="resolvedPlace" [contact]="resolvedContact" [tile]="tile"></app-quick-action-tile>
        }
        @case ('custom-file') {
          <app-file-tile class="tile" [place]="resolvedPlace" [contact]="resolvedContact" [tile]="tile"></app-file-tile>
        }
        @case ('custom-migraine') {
          <app-migraine-tile class="tile" [place]="resolvedPlace!" [tile]="tile"></app-migraine-tile>
        }
        @case ('custom-pollution') {
          <app-pollution-tile class="tile" [place]="resolvedPlace!" [tile]="tile"></app-pollution-tile>
        }
      }
    }
    </div>
    @if (hasDualUnsplashAttribution) {
      <div class="unsplash-badge">
        <span class="unsplash-badge__text">{{ 'common.avatarAttribution.photosBy' | transloco }}</span>
        <a class="unsplash-badge__link" [href]="avatarAttribution?.authorUrl" target="_blank" rel="noopener">
          {{ avatarAttribution?.authorName }}
        </a>
        <span class="unsplash-badge__text">{{ 'common.avatarAttribution.and' | transloco }}</span>
        <a class="unsplash-badge__link" [href]="backgroundAttribution?.authorUrl" target="_blank" rel="noopener">
          {{ backgroundAttribution?.authorName }}
        </a>
        <span class="unsplash-badge__text">{{ 'common.avatarAttribution.onUnsplash' | transloco }}</span>
        <a class="unsplash-badge__link"
          [href]="avatarAttribution?.unsplashUrl || backgroundAttribution?.unsplashUrl" target="_blank" rel="noopener">
          Unsplash
        </a>
      </div>
    } @else if (singleUnsplashAttribution; as attribution) {
      <div class="unsplash-badge">
        <span class="unsplash-badge__text">{{ 'common.avatarAttribution.photoBy' | transloco }}</span>
        <a class="unsplash-badge__link" [href]="attribution.authorUrl" target="_blank" rel="noopener">
          {{ attribution.authorName }}
        </a>
        <span class="unsplash-badge__text">{{ 'common.avatarAttribution.onUnsplash' | transloco }}</span>
        <a class="unsplash-badge__link" [href]="attribution.unsplashUrl" target="_blank" rel="noopener">
          Unsplash
        </a>
      </div>
    }
  </div>
} @else {
  <div class="tile-area tile-area--empty"
    [style.--place-tile-bg-image]="getTileBackgroundImage()"
    [style.--place-tile-bg-opacity]="getTileBackgroundOpacity()">
    <div class="tile-empty">
      <p>{{ 'common.tileList.empty' | transloco }}</p>
    </div>
    @if (hasDualUnsplashAttribution) {
      <div class="unsplash-badge">
        <span class="unsplash-badge__text">{{ 'common.avatarAttribution.photosBy' | transloco }}</span>
        <a class="unsplash-badge__link" [href]="avatarAttribution?.authorUrl" target="_blank" rel="noopener">
          {{ avatarAttribution?.authorName }}
        </a>
        <span class="unsplash-badge__text">{{ 'common.avatarAttribution.and' | transloco }}</span>
        <a class="unsplash-badge__link" [href]="backgroundAttribution?.authorUrl" target="_blank" rel="noopener">
          {{ backgroundAttribution?.authorName }}
        </a>
        <span class="unsplash-badge__text">{{ 'common.avatarAttribution.onUnsplash' | transloco }}</span>
        <a class="unsplash-badge__link"
          [href]="avatarAttribution?.unsplashUrl || backgroundAttribution?.unsplashUrl" target="_blank" rel="noopener">
          Unsplash
        </a>
      </div>
    } @else if (singleUnsplashAttribution; as attribution) {
      <div class="unsplash-badge">
        <span class="unsplash-badge__text">{{ 'common.avatarAttribution.photoBy' | transloco }}</span>
        <a class="unsplash-badge__link" [href]="attribution.authorUrl" target="_blank" rel="noopener">
          {{ attribution.authorName }}
        </a>
        <span class="unsplash-badge__text">{{ 'common.avatarAttribution.onUnsplash' | transloco }}</span>
        <a class="unsplash-badge__link" [href]="attribution.unsplashUrl" target="_blank" rel="noopener">
          Unsplash
        </a>
      </div>
    }
  </div>
}
