<div class="searchTerm-container">
  <input type="search" enterkeyhint="search" [formControl]="searchControl" (keyup.enter)="searchPlaces()"
    [placeholder]="'common.location.searchPlaceholder' | transloco">
  <button type="button" (click)="searchPlaces()" [attr.aria-label]="'common.aria.search' | transloco">
    <mat-icon>search</mat-icon>
  </button>
</div>

<mat-dialog-content class="location-picker-content">
  <div class="location-picker-map" [id]="mapId"></div>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-icon-button type="button" (click)="cancel()" [attr.aria-label]="'common.actions.abort' | transloco"
    class="action-close">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-icon-button color="primary" type="button" (click)="apply()"
    [attr.aria-label]="'common.actions.apply' | transloco">
    <mat-icon>check</mat-icon>
  </button>
</mat-dialog-actions>
