<mat-dialog-content>
    <div class="content">
        @if (data.shortMessage.multimedia.type === 'undefined') {
        <app-select-multimedia class="oembed_container" (newMultimedia)="applyNewMultimedia($event)">
        </app-select-multimedia>
        } @else {
        <div class="oembed_container">
            <button mat-mini-fab color="primary" class="button_remove_multimedia" (click)="removeMultimedia()">
                <mat-icon>delete</mat-icon>
            </button>
            <app-showmultimedia class="oembed_container" [multimedia]="data.shortMessage.multimedia">
            </app-showmultimedia>
        </div>
        }

        @if (data.shortMessage.message === '') {
        <div class="oembed_container">
            <button (click)="openTextDialog()" mat-flat-button class="button_default" color="primary">
                <mat-icon>post_add</mat-icon>
                <span>{{ 'common.contact.message.addText' | transloco }}</span>
            </button>
        </div>
        } @else {
        <div class="oembed_container">
            <button mat-mini-fab class="button_random" color="secondary"
                [attr.aria-label]="'common.contact.message.dropNewAria' | transloco" (click)="onNewFontClick()">
                <mat-icon>switch_access_shortcut</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="button_remove_text" (click)="removeText()">
                <mat-icon>delete</mat-icon>
            </button>
            <p class="text" role="button" tabindex="0" (click)="openTextDialog()" (keyup.enter)="openTextDialog()"
                (keyup.space)="openTextDialog()" [style]="data.shortMessage.style">{{ data.shortMessage.message }}</p>
        </div>
        }
    </div>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
    <button mat-dialog-close cdkFocusInitial (click)="onAbortClick()" mat-icon-button
        [attr.aria-label]="'common.actions.abort' | transloco" class="action-close"><mat-icon>close</mat-icon></button>

    @if (data.shortMessage.message !== '' || data.shortMessage.multimedia.type !== 'undefined') {
    <button class="button_drop" color="primary" [attr.aria-label]="'common.contact.message.applyAria' | transloco"
        (click)="onApplyClick()" mat-icon-button><mat-icon>send</mat-icon></button>
    }
</mat-dialog-actions>
