:host {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

/* Das Chart selbst */
.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}
