.chart-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 70%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Das Chart selbst */
.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}

/* FAB Close-Button */
.chart-container .close-btn {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 10;
}