<h2 mat-dialog-title class="dialog-title">{{ 'common.tileEdit.todoTitle' | transloco }}</h2>

<mat-dialog-content class="edit-content">
  <button class="icon-pick-button" mat-stroked-button color="primary" type="button" (click)="pickIcon()"
    [attr.aria-label]="'common.tileFields.pickIcon' | transloco">
    @if (icon()) {
      <mat-icon>{{ icon() }}</mat-icon>
    } @else {
      <span>{{ 'common.tileFields.pickIcon' | transloco }}</span>
    }
  </button>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ 'common.tileFields.title' | transloco }}</mat-label>
    <input matInput cdkFocusInitial [formControl]="titleControl" maxlength="64" />
  </mat-form-field>

  <div class="todo-add-row">
    <mat-form-field appearance="outline" class="todo-input">
      <mat-label>{{ 'common.tiles.todo.addLabel' | transloco }}</mat-label>
      <input matInput [formControl]="newTodoControl" (keyup.enter)="addTodo()" />
    </mat-form-field>
    <button mat-mini-fab class="todo-add-button" color="primary" type="button" (click)="addTodo()"
      [disabled]="!newTodoControl.value.trim()" [attr.aria-label]="'common.tiles.todo.addAria' | transloco">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  @if (hasTodos) {
    <div cdkDropList class="todo-list" (cdkDropListDropped)="drop($event)">
      @for (todo of todos(); track todo.id) {
        <div class="todo-row" cdkDrag>
          <button type="button" class="drag-handle" cdkDragHandle
            [attr.aria-label]="'common.tiles.todo.reorderAria' | transloco">
            <mat-icon>drag_indicator</mat-icon>
          </button>
          <button mat-icon-button color="primary" type="button" (click)="toggleTodo(todo)"
            [attr.aria-label]="todo.done ? ('common.tiles.todo.markUndone' | transloco) : ('common.tiles.todo.markDone' | transloco)">
            <mat-icon>{{ todo.done ? 'check_circle' : 'radio_button_unchecked' }}</mat-icon>
          </button>
          <span class="todo-text" [class.todo-text--done]="todo.done">{{ todo.text }}</span>
          <button mat-icon-button color="warn" type="button" (click)="deleteTodo(todo)"
            [attr.aria-label]="'common.tiles.todo.deleteAria' | transloco">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>
  } @else {
    <p class="text-muted">{{ 'common.tiles.todo.emptyEditor' | transloco }}</p>
  }
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button type="button" (click)="cancel()" mat-icon-button [attr.aria-label]="'common.cancel' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button mat-icon-button type="button" (click)="help.open('tileEditTodo')"
    [attr.aria-label]="'common.actions.help' | transloco">
    <mat-icon>help</mat-icon>
  </button>
  <button color="primary" type="button" (click)="save()" mat-icon-button [attr.aria-label]="'common.save' | transloco"><mat-icon>save</mat-icon></button>
</mat-dialog-actions>
