.edit-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: auto;
}

.full-width {
  width: 100%;
}

.icon-pick-button {
  width: 95%;
  align-self: center;
  justify-content: center;
  gap: 1.75rem;
  margin: auto;
  padding: 1.5rem;
}

.icon-pick-button mat-icon {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.calendar-error {
  color: #d32f2f;
  font-size: 0.85rem;
}