<app-dialog-header
  [icon]="headerIcon"
  [title]="headerTitle">
</app-dialog-header>

<mat-dialog-content class="edit-content">
  <div class="calendar-wrapper">
    <mat-calendar [startAt]="startAt" [selected]="dateControl.value"
      (selectedChange)="onDateSelected($event)"></mat-calendar>
    @if (dateControl.invalid && dateControl.touched) {
    <div class="calendar-error">{{ 'common.tileFields.pickDateError' | transloco }}</div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button type="button" (click)="cancel()" mat-icon-button [attr.aria-label]="'common.cancel' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button mat-icon-button type="button" (click)="help.open('tileEditAnniversary')"
    [attr.aria-label]="'common.actions.help' | transloco">
    <mat-icon>help</mat-icon>
  </button>
  <button mat-icon-button type="button" (click)="openDisplaySettings()"
    [attr.aria-label]="'common.tileSettings.title' | transloco">
    <mat-icon>settings</mat-icon>
  </button>
  <button color="primary" type="button" (click)="save()" mat-icon-button [attr.aria-label]="'common.save' | transloco"><mat-icon>save</mat-icon></button>
</mat-dialog-actions>
