<mat-dialog-content>
    <div class="content">

        @if (data.note.multimedia.type === 'undefined') {
        <app-select-multimedia class="oembed_container" (newMultimedia)="applyNewMultimedia($event)">
        </app-select-multimedia>
        } @else if (data.note.multimedia.type === 'tenor') {
        <div class="oembed_container">
            <button mat-mini-fab color="primary" class="button_remove_multimedia" (click)="removeMultimedia()">
                <mat-icon>delete</mat-icon>
            </button>
            <app-showmultimedia class="oembed_container" [multimedia]="data.note.multimedia">
                <button mat-mini-fab color="primary" class="button_remove_multimedia" (click)="removeMultimedia()">
                    <mat-icon>delete</mat-icon>
                </button>
            </app-showmultimedia>
        </div>
        }

        @if (data.note.note === '') {
        <div class="oembed_container">
            <button (click)="openTextDialog()" mat-flat-button class="button_default" color="primary">
                <span>{{ 'common.note.addText' | transloco }}</span>
            </button>
        </div>
        } @else {
        <div class="text_container">
            <button mat-mini-fab class="button_random" color="secondary"
                [attr.aria-label]="'common.actions.randomizeStyle' | transloco" (click)="onNewFontClick()">
                <mat-icon>cycle</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="button_remove_text" (click)="removeText()">
                <mat-icon>delete</mat-icon>
            </button>
            <p class="text" role="button" tabindex="0" (click)="openTextDialog()" (keyup.enter)="openTextDialog()"
                (keyup.space)="openTextDialog()" [style]="data.note.style">
                {{ data.note.note }}
            </p>
        </div>
        }

    </div>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
    <button mat-button mat-dialog-close cdkFocusInitial (click)="onAbortClick()">{{ 'common.actions.abort' | transloco
        }}</button>
    @if (data.note.note !== '' || data.note.multimedia.type !== 'undefined') {
    <button mat-button mat-dialog-close (click)="onApplyClick()">{{ 'common.actions.apply' | transloco }}</button>
    }
</mat-dialog-actions>