<app-dialog-header icon="style" [title]="'common.contact.chatroom.games.newMemoryTitle' | transloco"></app-dialog-header>
<mat-dialog-content class="new-game-content">
  <p>{{ 'common.contact.chatroom.games.chooseFirstMemoryTurn' | transloco }}</p>
  <app-memory-board [deck]="cards" [selectionMode]="true" (turn)="selectTurn($event)"></app-memory-board>
</mat-dialog-content>
<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-icon-button class="action-close" type="button" (click)="close()" [attr.aria-label]="'common.actions.close' | transloco"><mat-icon>close</mat-icon></button>
  <button mat-icon-button color="primary" type="button" (click)="send()" [disabled]="!firstTurn()" [attr.aria-label]="'common.contact.chatroom.games.sendGameAria' | transloco"><mat-icon>send</mat-icon></button>
</mat-dialog-actions>
