<app-dialog-header
  icon="add_location_alt"
  [title]="'common.images.exif.title' | transloco">
</app-dialog-header>

<mat-dialog-content class="dialog-content">
  @if (data.previewUrl) {
  <img [src]="data.previewUrl"
    [alt]="data.fileName || ('common.images.exif.previewAlt' | transloco)" class="preview" />
  }
  <div class="body">
    <div class="choice-actions">
      <button mat-stroked-button color="primary" class="choice-button" type="button" cdkFocusInitial
        [mat-dialog-close]="{ useMap: false, applyToAll }"
        [attr.aria-label]="'common.images.exif.useImageLocationAria' | transloco">
        <mat-icon>image</mat-icon>
        <span>{{ 'common.images.exif.useImageLocation' | transloco }}</span>
      </button>
      <button mat-stroked-button class="choice-button" type="button"
        [mat-dialog-close]="{ useMap: true, applyToAll }"
        [attr.aria-label]="'common.images.exif.useMapLocationAria' | transloco">
        <mat-icon>map</mat-icon>
        <span>{{ 'common.images.exif.useMapLocation' | transloco }}</span>
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="actions sticky-actions">
  <button mat-icon-button type="button" (click)="help.open('imageExif')"
    [attr.aria-label]="'common.actions.help' | transloco">
    <mat-icon>help</mat-icon>
  </button>
  <span class="actions-spacer" aria-hidden="true"></span>
  <mat-slide-toggle [(ngModel)]="applyToAll" color="primary">
    <span class="copy">{{ 'common.images.exif.remember' | transloco }}</span>
  </mat-slide-toggle>
</mat-dialog-actions>
