<h2 *ngIf="data.mode == 'add_place'" mat-dialog-title>Add your place</h2>
<h2 *ngIf="data.mode == 'edit_place'" mat-dialog-title>Edit your place</h2>
<mat-dialog-content>
    Set the place name
    <input matInput type="text" maxlength="64" placeholder="The place name.." [(ngModel)]="data.place.name">
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onAbortClick()">Abort</button>
  <button *ngIf="data.place.name != ''" mat-button mat-dialog-close (click)="onApplyClick()">Apply</button>
</mat-dialog-actions>
<h4>This information is stored encrypted on our server and is only visible to you.</h4>