<mat-dialog-content class="dialog">
    <button [attr.aria-hidden]="false" class="button_add" mat-mini-fab color="primary" aria-label="Back"
        (click)="addPlace()">
        <mat-icon [attr.aria-hidden]="false" class="material-symbols-outlined">add</mat-icon>
    </button>
    <div *ngIf="places.length != 0" class="content">
        <mat-card class="item" *ngFor="let place of places; index as i">
            <div class="avatar-box" (click)="editPlace(place)">
                <mat-icon *ngIf="place.icon && !place.base64Avatar">{{ place.icon || 'location' }}</mat-icon>
                <img *ngIf="place.base64Avatar" class="avatar" src="{{place.base64Avatar}}" />
                <span *ngIf="place.name" class="name">{{place.name}}</span>
            </div>
            <mat-card-content>
                <div class="tile-grid">
                    <app-date-time [timezone]="place.timezone" />
                    <div class="tile weather">
                        <mat-icon>wb_sunny</mat-icon>
                        <span>Wetter</span>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions class="buttonbar">
                <button [attr.aria-hidden]="false" mat-mini-fab color="secondary" aria-label="Edit note"
                    (click)="editPlace(place)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">edit</mat-icon>
                </button>
                <button [attr.aria-hidden]="false" mat-mini-fab color="secondary" aria-label="Delete note"
                    (click)="deletePlace(place)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">delete_forever</mat-icon>
                </button>
                <button [attr.aria-hidden]="false" *ngIf="!subscriptionError" mat-mini-fab
                    color="{{!place.subscribed ? 'secondary' : 'primary'}}" aria-label="Subscribe to place"
                    (click)="subscribe(place)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">bookmark_flag</mat-icon>
                </button>
                <button [attr.aria-hidden]="false" mat-mini-fab color="secondary"
                    aria-label="Edit locations for this place" (click)="editLocation(place)">
                    <mat-icon aria-hidden="false" class="material-symbols-outlined">edit_location_alt</mat-icon>
                </button>
                <button [attr.aria-hidden]="false" *ngIf="place.plusCodes.length != 0" mat-mini-fab color="secondary"
                    aria-label="Fly to message" (click)="flyTo(place)">
                    <mat-icon [attr.aria-hidden]="false" class="material-symbols-outlined">place</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</mat-dialog-content>