/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #292929;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.snack-error {
  --mdc-snackbar-container-color: rgb(233, 64, 64, 0.75);
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #000;
  text-align: center;
}

.snack-warning {
  --mdc-snackbar-container-color: rgb(255, 120, 0, 0.75);
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #000;
  text-align: center;
}

.snack-success {
  --mdc-snackbar-container-color: rgb(96, 201, 93, 0.75);
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #000;
  text-align: center;
}

.snack-info {
  --mdc-snackbar-container-color: rgb(75, 212, 253, 0.75);
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #000;
  text-align: center;
}

@font-face {
  font-family: 'DancingScript';
  src: url('./assets/fonts/DancingScript.ttf');
}

@font-face {
  font-family: 'Pacifico';
  src: url('./assets/fonts/Pacifico.ttf');
}

@font-face {
  font-family: 'Caveat';
  src: url('./assets/fonts/Caveat.ttf');
}

@font-face {
  font-family: 'HachiMaruPop';
  src: url('./assets/fonts/HachiMaruPop.ttf');
}

@font-face {
  font-family: 'Miniver';
  src: url('./assets/fonts/Miniver.ttf');
}

@font-face {
  font-family: 'CraftyGirls';
  src: url('./assets/fonts/CraftyGirls.ttf');
}

@font-face {
  font-family: 'SedgwickAveDisplay';
  src: url('./assets/fonts/SedgwickAveDisplay.ttf');
}

@font-face {
  font-family: 'OvertheRainbow';
  src: url('./assets/fonts/OvertheRainbow.ttf');
}

@font-face {
  font-family: 'LoveYaLikeASister';
  src: url('./assets/fonts/LoveYaLikeASister.ttf');
}

@font-face {
  font-family: 'SedgwickAve';
  src: url('./assets/fonts/SedgwickAve.ttf');
}

@font-face {
  font-family: 'MrDafoe';
  src: url('./assets/fonts/MrDafoe.ttf');
}

@font-face {
  font-family: 'GochiHand';
  src: url('./assets/fonts/GochiHand.ttf');
}

@font-face {
  font-family: 'RockSalt';
  src: url('./assets/fonts/RockSalt.ttf');
}

@font-face {
  font-family: 'GloriaHallelujah';
  src: url('./assets/fonts/GloriaHallelujah.ttf');
}

@font-face {
  font-family: 'KaushanScript';
  src: url('./assets/fonts/KaushanScript.ttf');
}

@font-face {
  font-family: 'LuckiestGuy';
  src: url('./assets/fonts/LuckiestGuy.ttf');
}

@font-face {
  font-family: 'Zeyada';
  src: url('./assets/fonts/Zeyada.ttf');
}

@font-face {
  font-family: 'Kalam';
  src: url('./assets/fonts/Kalam.ttf');
}

@font-face {
  font-family: 'Yellowtail';
  src: url('./assets/fonts/Yellowtail.ttf');
}

@font-face {
  font-family: 'IndieFlower';
  src: url('./assets/fonts/IndieFlower.ttf');
}

@font-face {
  font-family: 'PermanentMarker';
  src: url('./assets/fonts/PermanentMarker.ttf');
}

@font-face {
  font-family: 'Satisfy';
  src: url('./assets/fonts/Satisfy.ttf');
}

@font-face {
  font-family: 'ShadowsIntoLight';
  src: url('./assets/fonts/ShadowsIntoLight.ttf');
}

@font-face {
  font-family: 'AbrilFatface';
  src: url('./assets/fonts/AbrilFatface.ttf');
}

@font-face {
  font-family: 'Almendra';
  src: url('./assets/fonts/Almendra.ttf');
}

@font-face {
  font-family: 'AmaticSC';
  src: url('./assets/fonts/AmaticSC.ttf');
}

@font-face {
  font-family: 'Anton';
  src: url('./assets/fonts/Anton.ttf');
}

@font-face {
  font-family: 'Audiowide';
  src: url('./assets/fonts/Audiowide.ttf');
}

@font-face {
  font-family: 'Bangers';
  src: url('./assets/fonts/Bangers.ttf');
}

@font-face {
  font-family: 'BebasNeue';
  src: url('./assets/fonts/BebasNeue.ttf');
}

@font-face {
  font-family: 'BlackOpsOne';
  src: url('./assets/fonts/BlackOpsOne.ttf');
}

@font-face {
  font-family: 'BriemHand.ttf';
  src: url('./assets/fonts/BriemHand.ttf');
}

@font-face {
  font-family: 'BungeeShade';
  src: url('./assets/fonts/BungeeShade.ttf');
}

@font-face {
  font-family: 'BungeeSpice';
  src: url('./assets/fonts/BungeeSpice.ttf');
}

@font-face {
  font-family: 'Cinzel';
  src: url('./assets/fonts/Cinzel.ttf');
}

@font-face {
  font-family: 'Creepster';
  src: url('./assets/fonts/Creepster.ttf');
}

@font-face {
  font-family: 'FjallaOne';
  src: url('./assets/fonts/FjallaOne.ttf');
}

@font-face {
  font-family: 'FrederickatheGreat';
  src: url('./assets/fonts/FrederickatheGreat.ttf');
}

@font-face {
  font-family: 'Jaro';
  src: url('./assets/fonts/Jaro.ttf');
}

@font-face {
  font-family: 'Jersey10';
  src: url('./assets/fonts/Jersey10.ttf');
}

@font-face {
  font-family: 'Jersey15';
  src: url('./assets/fonts/Jersey15.ttf');
}

@font-face {
  font-family: 'Jersey25';
  src: url('./assets/fonts/Jersey25.ttf');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('./assets/fonts/JosefinSans.ttf');
}

@font-face {
  font-family: 'Knewave';
  src: url('./assets/fonts/Knewave.ttf');
}

@font-face {
  font-family: 'Lemon';
  src: url('./assets/fonts/Lemon.ttf');
}

@font-face {
  font-family: 'LilitaOne';
  src: url('./assets/fonts/LilitaOne.ttf');
}

@font-face {
  font-family: 'MadimiOne';
  src: url('./assets/fonts/MadimiOne.ttf');
}

@font-face {
  font-family: 'Micro5Charted';
  src: url('./assets/fonts/Micro5Charted.ttf');
}

@font-face {
  font-family: 'Micro5';
  src: url('./assets/fonts/Micro5.ttf');
}

@font-face {
  font-family: 'Monoton';
  src: url('./assets/fonts/Monoton.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat.ttf');
}

@font-face {
  font-family: 'Nosifer';
  src: url('./assets/fonts/Nosifer.ttf');
}

@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/Orbitron.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('./assets/fonts/Oswald.ttf');
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./assets/fonts/PlayfairDisplay.ttf');
}

@font-face {
  font-family: 'PoetsenOne';
  src: url('./assets/fonts/PoetsenOne.ttf');
}

@font-face {
  font-family: 'RubikMonoOne';
  src: url('./assets/fonts/RubikMonoOne.ttf');
}

@font-face {
  font-family: 'RubikMoonrocks';
  src: url('./assets/fonts/RubikMoonrocks.ttf');
}

@font-face {
  font-family: 'RubikScribble';
  src: url('./assets/fonts/RubikScribble.ttf');
}

@font-face {
  font-family: 'SedanSC';
  src: url('./assets/fonts/SedanSC.ttf');
}

@font-face {
  font-family: 'Sixtyfour';
  src: url('./assets/fonts/Sixtyfour.ttf');
}

@font-face {
  font-family: 'SpecialElite';
  src: url('./assets/fonts/SpecialElite.ttf');
}

@font-face {
  font-family: 'UbuntuSansMono';
  src: url('./assets/fonts/UbuntuSansMono.ttf');
}

@font-face {
  font-family: 'Allura';
  src: url('./assets/fonts/Allura.ttf');
}

@font-face {
  font-family: 'Cookie';
  src: url('./assets/fonts/Cookie.ttf');
}