<app-dialog-header
  [title]="'common.sharedContent.title' | transloco">
</app-dialog-header>
<mat-dialog-content class="shared-dialog-content">
    <div class="shared-scroll">
        <div class="shared-tile">
        @if (loadFailed) {
        <p class="load-failed-hint">{{ 'common.sharedContent.loadFailed' | transloco }}</p>
        }
        @if (multimedia) {
        <app-showmultimedia [multimedia]="multimedia"></app-showmultimedia>
        } @else if (location) {
        <div class="shared-field">
            <span class="label">{{ 'common.sharedContent.coordinatesLabel' | transloco }}</span>
            <p class="pre-wrap">{{ location.latitude }}, {{ location.longitude }}</p>
        </div>
        @if (location.plusCode) {
        <div class="shared-field">
            <span class="label">{{ 'common.sharedContent.plusCodeLabel' | transloco }}</span>
            <p>{{ location.plusCode }}</p>
        </div>
        }
        } @else if (hasGenericContent) {
        @if (sharedText) {
        <div class="shared-field">
            <span class="label">{{ 'common.sharedContent.textLabel' | transloco }}</span>
            <p class="pre-wrap">{{ sharedText }}</p>
        </div>
        }

        @if (sharedUrl) {
        <div class="shared-field">
            <span class="label">{{ 'common.sharedContent.urlLabel' | transloco }}</span>
            <p class="pre-wrap">{{ sharedUrl }}</p>
        </div>
        }
        } @else {
        <p>{{ 'common.sharedContent.empty' | transloco }}</p>
        }
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="sticky-actions" align="end">
    <button color="primary" mat-dialog-close [mat-dialog-close]="undefined" mat-icon-button [attr.aria-label]="'common.actions.close' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
    <button mat-icon-button type="button" (click)="help.open('sharedContent')"
        [attr.aria-label]="'common.actions.help' | transloco">
        <mat-icon>help</mat-icon>
    </button>
    @if (hasOpenableUrl) {
    <button mat-icon-button type="button" (click)="openSharedUrl()"
        [attr.aria-label]="'common.sharedContent.openLink' | transloco">
        <mat-icon>open_in_new</mat-icon>
    </button>
    }
    @if (location) {
    <button color="warn" (click)="deleteSharedLocation()" mat-icon-button [attr.aria-label]="'common.sharedContent.removeLocation' | transloco"><mat-icon>location_off</mat-icon></button>
    } @else {
    <button color="warn" (click)="deleteSharedContent()" mat-icon-button [attr.aria-label]="'common.sharedContent.removeContent' | transloco"><mat-icon>delete</mat-icon></button>
    }
</mat-dialog-actions>
