@if (multimedia) {
<mat-dialog-content class="full-width">
    <h2 mat-dialog-title>Shared multimedia content received</h2>
    <app-showmultimedia [multimedia]="multimedia"></app-showmultimedia>
    <h4>Add this content to a post, note or message.</h4>
    <div class="buttonarea">
        <button mat-flat-button color="primary" class="button_style" (click)="deleteSharedContent()">
            <mat-icon class="material-symbols-outlined">delete_forever</mat-icon>
            <span>Remove shared content</span>
        </button>
    </div>
</mat-dialog-content>
}

@else if (location) {
<mat-dialog-content class="full-width">
    <h2 mat-dialog-title>Shared location received</h2>
    <h4>Jumping to the shared location on the map.</h4>
    <div class="buttonarea">
        <button mat-flat-button color="primary" class="button_style" (click)="deleteSharedLocation()">
            <mat-icon class="material-symbols-outlined">delete_forever</mat-icon>
            <span>Remove shared location</span>
        </button>
    </div>
</mat-dialog-content>
}