<h2 mat-dialog-title class="dialog-title">{{ 'common.systemMessages.deleteAllTitle' | transloco }}</h2>
<mat-dialog-content>
  <p>{{ 'common.systemMessages.deleteAllConfirm' | transloco }}</p>
</mat-dialog-content>
<mat-dialog-actions class="sticky-actions" align="end">
  <button [mat-dialog-close]="false" mat-icon-button [attr.aria-label]="'common.cancel' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button color="warn" [mat-dialog-close]="true" cdkFocusInitial mat-icon-button [attr.aria-label]="'common.systemMessages.deleteAll' | transloco"><mat-icon>delete_sweep</mat-icon></button>
</mat-dialog-actions>
