<h2 mat-dialog-title>Contact profile</h2>
<mat-dialog-content>

  Set contact name
  <input matInput type="text" maxlength="64" placeholder="Contact name.." [(ngModel)]="contact.name">
  <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" class="file-input"
    (change)="onFileSelected($event)" #fileUpload>
  <div class="center-left"
    *ngIf="contact.base64Avatar == undefined || contact.base64Avatar == '' || contact.base64Avatar == 'undefined'">
    Set contact avatar:
    <button mat-mini-fab color="primary" class="upload-button" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
  <div class="center">
    <img *ngIf="contact.base64Avatar != undefined && contact.base64Avatar != '' && contact.base64Avatar != 'undefined'"
      class="avatar" src="{{contact.base64Avatar}}" /><br>
  </div>
  <div class="center"
    *ngIf="contact.base64Avatar != undefined && contact.base64Avatar != '' && contact.base64Avatar != 'undefined'">
    <button *ngIf="contact.base64Avatar != undefined && contact.base64Avatar != ''" mat-mini-fab color="primary"
      class="upload-button" (click)="deleteAvatar()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="buttonarea" *ngIf="joinedUserRoom === true">
    <button mat-flat-button class color="primary" [attr.aria-hidden]="false" class="button_style"
      (click)="getProfileFromContact(contact)">
      <mat-icon class="material-symbols-outlined">connect_without_contact</mat-icon>
      <span>Ask contact for profile</span>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="false">Abort</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="true">Apply</button>
</mat-dialog-actions>