@if (!weather) {
<div class="tile weather-tile">
    <div class="tile-header">
        <mat-icon class="tile-icon">cloud</mat-icon>
        <span class="tile-title">{{ 'common.tileTypes.weather' | transloco }}</span>
    </div>
    <div class="tile-info">
        <i class="wi wi-na" style="font-size: 1.5rem"></i>
        <div class="tile-content">
            <div class="tile-temperature">{{ 'common.tiles.noData' | transloco }}</div>
            <div class="tile-minmax">{{ 'common.tiles.weatherUnavailable' | transloco }}</div>
        </div>
    </div>
</div>
} @else {
<div class="tile weather-tile" role="button" tabindex="0" (click)="openWeatherDetails()"
    (keyup.enter)="openWeatherDetails()" (keyup.space)="openWeatherDetails()">
    <div class="tile-header">
        <mat-icon class="tile-icon">cloud</mat-icon>
        <span class="tile-title">{{ 'common.tileTypes.weather' | transloco }}</span>
    </div>
    <div class="tile-info">
        <i class="wi wi-{{ weatherIcon }}"></i>
        <div class="tile-content">
            <div class="tile-temperature" [style.color]="tempColor">{{ weather.current.temperature }} °C</div>
            @if (minMax) {
            <div class="tile-minmax" [style.color]="tempColor">{{ minMax.min }} °C - {{ minMax.max }} °C</div>
            }
            @if (isStale) {
            <div class="stale">{{ 'common.tiles.dataExpiredCached' | transloco }}</div>
            }
        </div>
    </div>
</div>
}
