<div class="link-tile" role="button" tabindex="0" (click)="openEditor()" (keyup.enter)="openEditor()"
  (keyup.space)="openEditor()">
  <div class="link-tile__header">
    <div class="link-tile__icon">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
    <div class="link-tile__title">{{ title }}</div>
  </div>

  <button mat-raised-button color="primary" class="link-tile__action" type="button"
    (click)="openLink(); $event.stopPropagation();">
    <mat-icon>open_in_new</mat-icon>
    <span>{{ linkLabel }}</span>
  </button>
</div>