<h2 mat-dialog-title>App settings</h2>
<mat-dialog-content>
    <mat-form-field appearance="fill" class="theme-select">
        <mat-label>Theme</mat-label>
        <mat-select [value]="appSettings.defaultTheme" (selectionChange)="setTheme($event.value)">
            <mat-option *ngFor="let theme of availableThemes" [value]="theme">
                {{ theme | titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [value]="appSettings.themeMode"
        (change)="setThemeMode($event.value)" class="theme-toggle-group" exclusive aria-label="Theme mode toggle">
        <mat-button-toggle value="light">
            <mat-icon class="material-symbols-outlined">light_mode</mat-icon>
            Light
        </mat-button-toggle>
        <mat-button-toggle value="dark">
            <mat-icon class="material-symbols-outlined">dark_mode</mat-icon>
            Dark
        </mat-button-toggle>
        <mat-button-toggle value="system">
            <mat-icon class="material-symbols-outlined">settings</mat-icon>
            System
        </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="platform-tile-container">
        @if(showDetectLocationOnStart){
        <div class="platform-tile">
            <app-enable-location (enabledChange)="setDetectLocationOnStart($event)"></app-enable-location>
        </div>
        }
        <div class="platform-tile">
            <app-enable-external-content [platform]="'pinterest'" (enabledChange)="setAllowPinterestContent($event)">
            </app-enable-external-content>
        </div>
        <div class="platform-tile">
            <app-enable-external-content [platform]="'spotify'" (enabledChange)="setAllowSpotifyContent($event)">
            </app-enable-external-content>
        </div>
        <div class="platform-tile">
            <app-enable-external-content [platform]="'tenor'" (enabledChange)="setAllowTenorContent($event)">
            </app-enable-external-content>
        </div>
        <div class="platform-tile">
            <app-enable-external-content [platform]="'tiktok'" (enabledChange)="setAllowTikTokContent($event)">
            </app-enable-external-content>
        </div>
        <div class="platform-tile">
            <app-enable-external-content [platform]="'youtube'" (enabledChange)="setAllowYoutubeContent($event)">
            </app-enable-external-content>
        </div>
    </div>

    <mat-chip-set class="version-chipset">
        <mat-chip appearance="outlined" color="primary" disableRipple>
            Version {{ versionInfo.semver }}-{{ versionInfo.build }}-{{ versionInfo.commit }}-{{ versionInfo.timestamp
            }}
        </mat-chip>
    </mat-chip-set>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial (click)="onAbortClick()">Abort</button>
        <button mat-button mat-dialog-close [mat-dialog-close]="appSettings">
            Apply
        </button>
    </mat-dialog-actions>