@if (!airQuality) {
<div class="tile airQuality-tile">
    <div class="tile-info">
        <i class="wi wi-na" style="font-size: 1.5rem"></i>
        <div class="tile-content">
            <div class="tile-value">Too many</div>
            <div class="tile-minmax">requests</div>
        </div>
    </div>
</div>
} @else {
<div class="tile airQuality-tile" role="button" tabindex="0" (click)="openAirQualityDetails()"
    (keyup.enter)="openAirQualityDetails()" (keyup.space)="openAirQualityDetails()">
    <div class="tile-info">
        <mat-icon>{{ airQualityIcon }}</mat-icon>
        <div class="tile-content">
            <div class="tile-label">{{ value }}</div>
            <div class="tile-value">{{ label }} ({{ level }})</div>
            @if (minMax) {
            <div class="tile-minmax">{{ minMax.min }} - {{ minMax.max }}</div>
            }
        </div>
    </div>
</div>
}
