.messageDropDialog .mat-dialog-container {
    padding: 0rem;
}

.mat-mdc-dialog-content {
    padding: 0px !important;
}

.textarea_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

textarea {
    display: block;
    margin: 1rem;
    flex-grow: 1;
    resize: block;
    line-height: 1.6;
    min-height: 200px;
    min-width: 300px;
}

.buttonarea {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
}
