.button {
  margin: 0.5rem auto 0;
  width: 100%;
}

.button-danger {
  margin-top: 1.5rem;
}

.full-width {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
}

.button_legal {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
