<h2 mat-dialog-title>My user</h2>
<mat-dialog-content class="dialog">
  <p>User-ID:</p>
  <p>{{userService.getUser().id}}</p>
  <button mat-stroked-button color="primary" [attr.aria-hidden]="false" class="button"
    [mat-dialog-close]="{'action': 'backup'}">
    <mat-icon>download</mat-icon>
    <span>Backup data</span>
  </button>
  <button mat-stroked-button color="primary" [attr.aria-hidden]="false" class="button"
    [mat-dialog-close]="{'action': 'restore'}">
    <mat-icon>upload</mat-icon>
    <span>Restore data</span>
  </button>
  <button mat-flat-button color="warn" [attr.aria-hidden]="false" class="button button-danger"
    [mat-dialog-close]="{'action': 'deleteUserId'}">
    <mat-icon>delete</mat-icon>
    <span>Delete my user</span>
  </button>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close [attr.aria-hidden]="false" cdkFocusInitial
    [mat-dialog-close]="{'action': 'back'}">Close</button>
</mat-dialog-actions>
