<h2 mat-dialog-title>My user</h2>
<mat-dialog-content class="dialog">
  <p>User-ID:</p>
  <p>{{userService.getUser().id}}</p>
  <button mat-flat-button class color="warn" [attr.aria-hidden]="false" class="button"
    [mat-dialog-close]="{'action': 'deleteUserId'}">
    <mat-icon class="material-symbols-outlined">delete</mat-icon>
    <span>Delete my user</span>
  </button>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close [attr.aria-hidden]="false" cdkFocusInitial
    [mat-dialog-close]="{'action': 'back'}">Close</button>
</mat-dialog-actions>