<h2 mat-dialog-title>My user</h2>
<mat-dialog-content class="dialog">
  <button [attr.aria-hidden]="false" class="button_legal" mat-mini-fab aria-label="Legal" (click)="showPolicy()">
    <mat-icon [attr.aria-hidden]="false" class="material-symbols-outlined">policy</mat-icon>
  </button>
  <div class="buttonarea">
    <mat-dialog-content>
      Enter a connect hint to create a connect id:
      <input matInput type="text" maxlength="64" placeholder="The connect hint.." [(ngModel)]="connectHint">
    </mat-dialog-content>
    <button *ngIf="connectHint" mat-flat-button class color="primary" [attr.aria-hidden]="false" class="button"
      [mat-dialog-close]="{'action': 'shareUserId', connectHint: connectHint}">
      <mat-icon class="material-symbols-outlined">share</mat-icon>
      <span>Share connect id</span>
    </button>
    <p></p>
    <p>Deleting my user cannot be undone.</p>
    <button mat-flat-button class color="primary" [attr.aria-hidden]="false" class="button"
      [mat-dialog-close]="{'action': 'deleteUserId'}">
      <mat-icon class="material-symbols-outlined">delete</mat-icon>
      <span>Delete my user</span>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close [attr.aria-hidden]="false" cdkFocusInitial
    [mat-dialog-close]="{'action': 'back'}">Back</button>
</mat-dialog-actions>