<mat-toolbar color="primary">
    <!-- Home-Button -->
    <button mat-icon-button routerLink="/dashboard" aria-label="Dashboard Home">
        <mat-icon>group</mat-icon>
    </button>

    <!-- Titel zentriert -->
    <span style="flex: 1; text-align: center; font-size: 1.5rem; font-weight: 500;">
        User Management
    </span>

    <!-- Benutzername + Zurück -->
    <span>{{ username() }} ({{ role() }})</span>
</mat-toolbar>

<div class="page">
    @if (isAdminOrRoot()){
    <div class="user-header">
        <h2>All Users</h2>
        <button mat-flat-button color="primary" (click)="openCreateUserDialog()">
            <mat-icon>person_add</mat-icon>
            Add User
        </button>
    </div>
    } @else {
    <div class="user-header">
        <h2>My User</h2>
    </div>
    }


    <!-- === User Tiles === -->
    <div class="tiles-container">
        @for (user of users(); track user.id) {
        <mat-card class="tile">
            <mat-card-header>
                <div mat-card-avatar class="avatar">
                    <mat-icon>person</mat-icon>
                </div>
                <mat-card-title class="tile-title">{{ user.username }}</mat-card-title>
                <mat-card-subtitle class="tile-subtitle">{{ user.role }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions align="end">
                @if (canEdit(user)) {
                <button mat-stroked-button color="primary" aria-label="Edit" (click)="openEditUserDialog(user)">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
                }

                @if (canDelete(user)) {
                <button mat-stroked-button color="warn" aria-label="Delete" (click)="confirmDelete(user)">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>
                }
            </mat-card-actions>
        </mat-card>
        }
    </div>
</div>