.map-preview {
  width: 100%;
  height: 120px;
  border-radius: 0.85rem;
  overflow: hidden;
  box-shadow: 0 4px 12px var(--mat-card-outlined-outline-color);
  border: 1px solid var(--mat-card-outlined-outline-color);
}

.map-preview--disabled {
  filter: grayscale(0.2);
  opacity: 0.6;
}
