<mat-dialog-content #dialogContent>
    <ng-container *ngIf="weather">
        <h2>Weather</h2>

        <div class="day-switch">
            <button mat-raised-button *ngFor="let day of weather.daily; let i = index"
                [color]="i === selectedDayIndex ? 'primary' : 'secondary'" (click)="onDayChange(i)">
                {{ getDayLabel(i) }}
            </button>
        </div>
        <div class="chart-container">
            <canvas baseChart [type]="lineChartType" [data]="tempChartData" [options]="chartOptions">
            </canvas>
        </div>
        <div class="chart-switch mini-fab">
            <button mat-mini-fab *ngFor="let mode of chartModes"
                [color]="selectedChart === mode ? 'primary' : 'secondary'" (click)="onChartToggle(mode)"
                [matTooltip]="getChartLabel(mode)">
                <mat-icon>{{ getChartIcon(mode) }}</mat-icon>
            </button>
        </div>
    </ng-container>
    <div class="data-source">
        Weather data provided by
        <a href="https://open-meteo.com/" target="_blank" rel="noopener">open-meteo.com</a>.
    </div>
</mat-dialog-content>