.dialog {
  display: inherit;
  border-radius: 0.5rem;
  max-height: 100%;
}

.content {
  overflow-y: scroll;
  background-color: transparent;
}

.list {
  border-radius: 0.25rem;
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
}

.buttonbar {
  flex-wrap: wrap;
}

.buttonbar_icon {
  padding: 0.5rem;
  margin: 0.5rem;
}

.button_back {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

.button_add {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

.button_messagemenu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin-bottom: -1rem;
  margin-right: -1rem;
}

.gradientAnimation {
  animation-name: move;
}

.radialAnimation {
  animation-name: move;
}

.conicAnimation {
  animation-name: move;
}

@property --x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.item {
  padding: 0.25rem;
  margin: 1rem;
  border-radius: 0.75rem;
  background-color: #f8f8f8e9;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin-top: -1rem;
  margin-left: -1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
}

.header {
  overflow: hidden;
  margin-right: 1rem;
}

.message {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem;
  max-width: 90%;
  padding: 0.5rem 1.5rem;
  background-color: #424242;
}

.message p {
  border-radius: 1.15rem;
  line-height: 1.25;
  width: 100%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.message p::before,
.message p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

p.from-me {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
  text-align: right;
}

p.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-me::after {
  background-color: #424242;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}

p.from-me~p.from-me {
  margin: 0.25rem 0 0;
}

p.from-me~p.from-me:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.from-me~p.from-me:last-child {
  margin-bottom: 0.5rem;
}

p.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
  text-align: left;
}

p.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-them::after {
  background-color: #424242;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"].emoji {
  background: none;
  font-size: 2.5rem;
}

p[class^="from-"].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}