<mat-dialog-content class="dialog">
    @if (contactsSignal().length === 0) {
    <div class="no-content">
        <div class="toolbar">
            <button mat-mini-fab color="accent" class="button_back" (click)="goBack()">
                <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
            </button>
        </div>
        <button class="first-button" mat-flat-button color="primary" [matMenuTriggerFor]="connectionMenu">
            <span>Start connecting</span>
        </button>
    </div>
    } @else {
    <div class="content">
        <div class="toolbar">
            <button mat-mini-fab color="accent" class="button_back" (click)="goBack()">
                <mat-icon class="material-symbols-outlined">arrow_back</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="button_add" aria-label="Add connection"
                [matMenuTriggerFor]="connectionMenu">
                <mat-icon class="material-symbols-outlined">connect_without_contact</mat-icon>
            </button>
        </div>

        @for (contact of contactsSignal(); track contact.id){
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                @if (contact.base64Avatar) {
                <img class="avatar" [src]="contact.base64Avatar" />
                } @else {
                <mat-icon class="material-symbols-outlined">person</mat-icon>
                }
                <span class="name">{{ contact.name || 'Unnamed' }}</span>
            </mat-expansion-panel-header>
            <mat-card>
                <mat-card-content (click)="openContactMessagDialog(contact)">
                    <div class="message-content">
                        @if (contact.lastMessageFrom === 'contactUser') {
                        <div class="message">
                            <!-- === USER === -->
                            @if (hasContent(contact.userMessage)) {
                            <div class="bubble-row me">
                                <div class="avatar-me">
                                    @if (userService.getProfile().base64Avatar) {
                                    <img class="avatar" [src]="userService.getProfile().base64Avatar" />
                                    } @else {
                                    <mat-icon class="material-symbols-outlined">person</mat-icon>
                                    }
                                    <span class="name">{{ userService.getProfile().name || 'Myself' }}</span>
                                </div>

                                <p class="from-me">
                                    @if (contact.userMessage.multimedia.type !== 'undefined') {
                                    <app-showmultimedia
                                        [multimedia]="contact.userMessage.multimedia"></app-showmultimedia>
                                    }
                                    @if (contact.userMessage.message.trim() !== '') {
                                    <app-showmessage [message]="contact.userMessage.message"
                                        [style]="contact.userMessage.style"></app-showmessage>
                                    }
                                </p>
                            </div>
                            }

                            <!-- === CONTACT === -->
                            @if (hasContent(contact.contactUserMessage)) {
                            <div class="bubble-row them">
                                <div class="avatar-them">
                                    @if (contact.base64Avatar) {
                                    <img class="avatar" [src]="contact.base64Avatar" />
                                    } @else {
                                    <mat-icon class="material-symbols-outlined">person</mat-icon>
                                    }
                                    <span class="name">{{ contact.name || 'Unnamed' }}</span>
                                </div>

                                <p class="from-them">
                                    @if (contact.contactUserMessage.multimedia.type !== 'undefined') {
                                    <app-showmultimedia
                                        [multimedia]="contact.contactUserMessage.multimedia"></app-showmultimedia>
                                    }
                                    @if (contact.contactUserMessage.message.trim() !== '') {
                                    <app-showmessage [message]="contact.contactUserMessage.message"
                                        [style]="contact.contactUserMessage.style"></app-showmessage>
                                    }
                                </p>
                            </div>
                            }
                        </div>
                        } @else if (contact.lastMessageFrom === 'user') {
                        <div class="message">
                            <!-- === CONTACT === -->
                            @if (hasContent(contact.contactUserMessage)) {
                            <div class="bubble-row them">
                                <div class="avatar-them">
                                    @if (contact.base64Avatar) {
                                    <img class="avatar" [src]="contact.base64Avatar" />
                                    } @else {
                                    <mat-icon class="material-symbols-outlined">person</mat-icon>
                                    }
                                    <span class="name">{{ contact.name || 'Unnamed' }}</span>
                                </div>

                                <p class="from-them">
                                    @if (contact.contactUserMessage.multimedia.type !== 'undefined') {
                                    <app-showmultimedia
                                        [multimedia]="contact.contactUserMessage.multimedia"></app-showmultimedia>
                                    }
                                    @if (contact.contactUserMessage.message.trim() !== '') {
                                    <app-showmessage [message]="contact.contactUserMessage.message"
                                        [style]="contact.contactUserMessage.style"></app-showmessage>
                                    }
                                </p>
                            </div>
                            }

                            <!-- === USER === -->
                            @if (hasContent(contact.userMessage)) {
                            <div class="bubble-row me">
                                <div class="avatar-me">
                                    @if (userService.getProfile().base64Avatar) {
                                    <img class="avatar" [src]="userService.getProfile().base64Avatar" />
                                    } @else {
                                    <mat-icon class="material-symbols-outlined">person</mat-icon>
                                    }
                                    <span class="name">{{ userService.getProfile().name || 'Myself' }}</span>
                                </div>

                                <p class="from-me">
                                    @if (contact.userMessage.multimedia.type !== 'undefined') {
                                    <app-showmultimedia
                                        [multimedia]="contact.userMessage.multimedia"></app-showmultimedia>
                                    }
                                    @if (contact.userMessage.message.trim() !== '') {
                                    <app-showmessage [message]="contact.userMessage.message"
                                        [style]="contact.userMessage.style"></app-showmessage>
                                    }
                                </p>
                            </div>
                            }
                        </div>
                        } @else {
                        <button class="first-button" mat-flat-button color="primary" [attr.aria-hidden]="false">
                            <span>Create my first short message</span>
                        </button>
                        }
                    </div>
                </mat-card-content>

                <mat-card-actions class="buttonbar">
                    @if (contact.pinned) {
                    <button mat-mini-fab [ngClass]="'active-button'" aria-label="Unpin" (click)="unpinContact(contact)">
                        <mat-icon class="material-symbols-outlined">keep_off</mat-icon>
                    </button>
                    } @else {
                    <button mat-mini-fab [ngClass]="'inactive-button'" aria-label="Pin" (click)="pinContact(contact)">
                        <mat-icon class="material-symbols-outlined">keep</mat-icon>
                    </button>
                    } @if (socketioService.isReady()) {
                    <button mat-mini-fab color="secondary" aria-label="Send a short message"
                        (click)="openContactMessagDialog(contact)">
                        <mat-icon class="material-symbols-outlined">quick_phrases</mat-icon>
                    </button>
                    }
                    <button mat-mini-fab color="secondary" aria-label="Edit contact" (click)="editContact(contact)">
                        <mat-icon class="material-symbols-outlined">settings_account_box</mat-icon>
                    </button>
                    @if (!subscriptionError) {
                    @if (contact.subscribed) {
                    <button mat-mini-fab [color]="'active-button'" aria-label="Subscribe" (click)="subscribe(contact)">
                        <mat-icon class="material-symbols-outlined">bookmark_remove</mat-icon>
                    </button>
                    } @else {
                    <button mat-mini-fab [color]="'inactive-button'" aria-label="Subscribe"
                        (click)="subscribe(contact)">
                        <mat-icon class="material-symbols-outlined">bookmark_add</mat-icon>
                    </button>
                    }
                    }
                    <button mat-mini-fab color="secondary" aria-label="Delete contact" (click)="deleteContact(contact)">
                        <mat-icon class="material-symbols-outlined">delete_forever</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-expansion-panel>
        }
    </div>

    }
</mat-dialog-content>

<mat-menu #connectionMenu="matMenu"> <button mat-menu-item (click)="shareConnectId()"> <mat-icon
            class="material-symbols-outlined">share</mat-icon> <span>Share connect id</span> </button> <button
        mat-menu-item (click)="openConnectDialog()"> <mat-icon class="material-symbols-outlined">link</mat-icon>
        <span>Connect with connect id</span> </button> <button mat-menu-item (click)="openQrDialog()"> <mat-icon
            class="material-symbols-outlined">qr_code</mat-icon> <span>Share QR-Code</span> </button> <button
        mat-menu-item (click)="openScannerDialog()"> <mat-icon
            class="material-symbols-outlined">qr_code_scanner</mat-icon> <span>Connect scanning QR-Code</span> </button>
</mat-menu>