<mat-dialog-content>
    @if (!hasNotes()) {
    <div class="no-content">
        <div class="toolbar">
            <button mat-mini-fab color="accent" class="button_back" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <button class="first-button" mat-flat-button color="primary" [attr.aria-hidden]="false"
            (click)="!userService.isReady() ? userService.login(openNoteDialog.bind(this)) : openNoteDialog()">
            <span>{{ 'common.noteList.addFirstNote' | transloco }}</span>
        </button>
    </div>
    } @else {
    <div class="content">
        <div class="toolbar">
            <button mat-mini-fab color="accent" class="button_back" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button [attr.aria-hidden]="false" class="button_add" mat-mini-fab color="primary"
                [attr.aria-label]="'common.noteList.addNoteAria' | transloco"
                (click)="openNoteDialog()">
                <mat-icon [attr.aria-hidden]="false">add_notes</mat-icon>
            </button>
        </div>

        @for (note of notesSignal(); track note.id) {
        <mat-card class="item" appMasonryItem>
            <mat-card-content (click)="editNote(note)">
                <div class="message-content">
                    <app-showmultimedia [multimedia]="note.multimedia"></app-showmultimedia>
                    <app-showmessage [message]="note.note" [style]="note.style"></app-showmessage>
                </div>
            </mat-card-content>
            <mat-card-actions class="buttonbar">
                @if (userService.isReady()) {
                <button mat-mini-fab color="secondary" [attr.aria-label]="'common.noteList.editAria' | transloco"
                    (click)="editNote(note)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" [attr.aria-label]="'common.noteList.deleteAria' | transloco"
                    (click)="deleteNote(note)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" [attr.aria-label]="'common.noteList.flyToAria' | transloco"
                    (click)="flyTo(note)">
                    <mat-icon>place</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" [attr.aria-label]="'common.noteList.navigateAria' | transloco"
                    (click)="navigateToNoteLocation(note)">
                    <mat-icon>assistant_direction</mat-icon>
                </button>
                }
            </mat-card-actions>
        </mat-card>
        }
    </div>
    }
</mat-dialog-content>
