<app-dialog-header icon="grid_3x3" [title]="'common.contact.chatroom.games.rulesTitle' | transloco"></app-dialog-header>

<mat-dialog-content class="rules-content">
  <ol class="rules-list">
    <li>{{ 'common.contact.chatroom.games.ruleFirstMove' | transloco }}</li>
    <li>{{ 'common.contact.chatroom.games.ruleAlternate' | transloco }}</li>
    <li>{{ 'common.contact.chatroom.games.ruleWin' | transloco }}</li>
    <li>{{ 'common.contact.chatroom.games.ruleDraw' | transloco }}</li>
    <li>{{ 'common.contact.chatroom.games.ruleFinished' | transloco }}</li>
  </ol>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-icon-button class="action-close" type="button" (click)="close()"
    [attr.aria-label]="'common.actions.close' | transloco">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
