.full-width {
  width: 100%;
}

.hashtag-dialog-content {
  overflow: hidden;
  max-height: none;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
}

.hashtag-field {
  margin-bottom: -0.2rem;
}

:host ::ng-deep .hashtag-field .mat-mdc-form-field-infix {
  min-height: 3.25rem;
  padding-top: 0.55rem;
  padding-bottom: 0.45rem;
}

:host ::ng-deep .hashtag-field .mat-mdc-form-field-subscript-wrapper {
  padding-top: 0.3rem;
}

:host ::ng-deep .hashtag-field .mat-mdc-chip-set {
  min-height: 2.25rem;
}

:host ::ng-deep .hashtag-field .mat-mdc-chip-row {
  margin: 0.2rem 0.25rem 0.2rem 0;
}

:host ::ng-deep .hashtag-field .mat-mdc-form-field-icon-suffix {
  padding-right: 0.2rem;
}
