@if (data.mode === 'add_place') {
<h2 mat-dialog-title class="dialog-title">{{ 'common.placeSettings.addTitle' | transloco }}</h2>
} @else if (data.mode === 'edit_place') {
<h2 mat-dialog-title class="dialog-title">{{ 'common.placeSettings.editTitle' | transloco }}</h2>
}

<mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>{{ 'common.placeSettings.nameLabel' | transloco }}</mat-label>
    <input matInput maxlength="64" [(ngModel)]="data.place.name" />
  </mat-form-field>

  <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" class="file-input"
    (change)="onFileSelected($event)" #fileUpload />

  @if (!data.place.base64Avatar) {
  <div class="avatar-area">
    <button mat-flat-button class="button-set-avatar" (click)="fileUpload.click()">
      <span>{{ 'common.placeSettings.setAvatar' | transloco }}</span>
    </button>
  </div>
  } @else {
  <div class="avatar-area">
    <div class="center">
      <img class="avatar" [src]="data.place.base64Avatar"
        [attr.alt]="data.place.name ? ('common.placeSettings.avatarAltName' | transloco:{ name: data.place.name }) : ('common.placeSettings.avatarAltFallback' | transloco)" /><br />
    </div>
    <div class="button-style">
      <button mat-mini-fab color="primary" class="upload-button" (click)="deleteAvatar()"
        [attr.aria-label]="'common.placeSettings.deleteAvatarAria' | transloco">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }

  <input type="file" id="place-background" name="place-background" accept="image/png, image/jpeg" class="file-input"
    (change)="onBackgroundFileSelected($event)" #backgroundUpload />

  @if (!data.place.placeBackgroundImage) {
  <div class="avatar-area">
    <button mat-flat-button class="button-set-avatar" (click)="backgroundUpload.click()">
      <mat-icon>wallpaper</mat-icon>
      <span>{{ 'common.placeSettings.setTileBackground' | transloco }}</span>
    </button>
    <p class="background-hint">{{ 'common.placeSettings.backgroundHint' | transloco }}</p>
  </div>
  } @else {
  <div class="avatar-area background-area">
    <div class="background-preview"
      [style.--place-bg-image]="getPlaceBackgroundPreviewImage()"
      [style.--place-bg-opacity]="getPlaceBackgroundPreviewOpacity()"></div>
    <div class="button-style">
      <button mat-mini-fab color="primary" class="upload-button" (click)="deletePlaceBackground()"
        [attr.aria-label]="'common.placeSettings.deleteTileBackgroundAria' | transloco">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }

  <div class="background-slider avatar-area">
    <div class="slider-header">
      <div class="slider-title">
        <mat-icon>opacity</mat-icon>
        <span>{{ 'common.placeSettings.tileBackgroundTransparency' | transloco }}</span>
      </div>
      <span class="slider-value">{{ data.place.placeBackgroundTransparency ?? 0 }}%</span>
    </div>
    <mat-slider min="0" max="100" step="5" thumbLabel tickInterval="20"
      [disabled]="!data.place.placeBackgroundImage">
      <input matSliderThumb [(ngModel)]="data.place.placeBackgroundTransparency" />
    </mat-slider>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-dialog-close cdkFocusInitial (click)="onAbortClick()" mat-icon-button [attr.aria-label]="'common.actions.abort' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button mat-dialog-close (click)="onApplyClick()" mat-icon-button [attr.aria-label]="'common.actions.apply' | transloco"><mat-icon>check</mat-icon></button>
</mat-dialog-actions>
