<h2 mat-dialog-title>{{ data?.title || ('common.user.deleteDialog.title' | transloco) }}</h2>
<mat-dialog-content>
    {{ data?.message || ('common.user.deleteDialog.confirm' | transloco) }}
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="false">
    {{ data?.cancelLabel || ('common.actions.abort' | transloco) }}
  </button>
  <button mat-button mat-dialog-close [mat-dialog-close]="true">
    {{ data?.confirmLabel || ('common.actions.yes' | transloco) }}
  </button>
</mat-dialog-actions>
