<mat-dialog-content class="icon-picker">
  <mat-tab-group>
    @for (cat of iconCategories; track cat.nameKey) {
      <mat-tab>
        <ng-template mat-tab-label>{{ cat.nameKey | transloco }}</ng-template>
        <div class="icon-grid">
          @for (icon of cat.icons; track icon) {
            <button
              type="button"
              class="icon-button"
              (click)="pick(icon)"
              [attr.aria-label]="'common.iconPicker.useIcon' | transloco: { icon: icon }"
            >
              <mat-icon>{{ icon }}</mat-icon>
            </button>
          }
        </div>
      </mat-tab>
    }
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-button (click)="pick(null)">{{ 'common.iconPicker.noIcon' | transloco }}</button>
  <button mat-button mat-dialog-close>{{ 'common.actions.close' | transloco }}</button>
</mat-dialog-actions>
