<mat-dialog-content class="icon-picker">
  <mat-tab-group>
    @for (cat of iconCategories; track cat.nameKey) {
      <mat-tab>
        <ng-template mat-tab-label>{{ cat.nameKey | transloco }}</ng-template>
        <div class="icon-grid">
          @for (icon of cat.icons; track icon) {
            <button
              type="button"
              class="icon-button"
              (click)="pick(icon)"
              [attr.aria-label]="'common.iconPicker.useIcon' | transloco: { icon: icon }"
            >
              <mat-icon>{{ icon }}</mat-icon>
            </button>
          }
        </div>
      </mat-tab>
    }
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
  <button mat-dialog-close mat-icon-button [attr.aria-label]="'common.actions.close' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button mat-icon-button type="button" (click)="help.open('maticonPicker')"
    [attr.aria-label]="'common.actions.help' | transloco">
    <mat-icon>help</mat-icon>
  </button>
  <button (click)="pick(null)" mat-icon-button [attr.aria-label]="'common.iconPicker.noIcon' | transloco"><mat-icon>block</mat-icon></button>
</mat-dialog-actions>
