<div class="url-container">
    <input type="text" [(ngModel)]="instagramUrl" (input)="validateUrl()" placeholder="Enter Instagram embed URL" />
    <button *ngIf="!urlInvalid" mat-icon-button (click)="onApplyClick()">
        <mat-icon>check</mat-icon>
    </button>
</div>
<mat-dialog-content class="full-width">
    <div *ngIf="instagramId" class="content">
        <iframe [src]="safeUrl" width="320" height="400" frameborder="0" allowtransparency="true"></iframe>
    </div>
</mat-dialog-content>