<div class="dialog-container">
    @if (data.image) {
    <img src="{{ data.image }}" alt="Backend Error" class="backend-error-image" />
    }

    @if (data.icon) {
    <div class="center">
        <mat-icon aria-hidden="false" class="material-symbols-outlined mat_icon">{{ data.icon }}</mat-icon>
    </div>
    }

    @if (data.title) {
    <h2>{{ data.title }}</h2>
    }

    @if (data.message) {
    <p class="multiline-text">{{ data.message }}</p>
    }

    @if (data.showSpinner) {
    <div class="center">
        <mat-spinner></mat-spinner>
    </div>
    }

    @if (showOk && data.button) {
    <button mat-raised-button color="primary" (click)="dialogRef.close(true)">
        {{ data.button }}
    </button>
    }
</div>