:host {
    color: var(--mat-app-text-color);
}

.dialog-container {
    text-align: center;
    padding: 2rem;
    max-width: 400px;

    h2 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .backend-error-image {
        max-width: 100%;
        border-radius: 12px;
        box-shadow: 0 4px 12px var(--mat-card-outlined-outline-color);
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 1rem;
    }

    .mat_icon {
        font-size: 4rem;
        width: 4rem;
        height: 4rem;
    }

    .spinner {
        width: 1rem;
        height: 1rem;
    }

    .multiline-text {
        white-space: pre-line;
    }
}