<h2 mat-dialog-title>My profile</h2>
<mat-dialog-content>
  <button [attr.aria-hidden]="false" class="button_legal" mat-mini-fab aria-label="Legal" (click)="showPolicy()">
    <mat-icon [attr.aria-hidden]="false" class="material-symbols-outlined">policy</mat-icon>
  </button>
  Set my profile name
  <input matInput type="text" maxlength="64" placeholder="User name.." [(ngModel)]="userService.getUser().name">
  <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" class="file-input"
    (change)="onFileSelected($event)" #fileUpload>
  <div class="center-left" *ngIf="userService.getUser().base64Avatar == ''">
    Set my profile avatar:
    <button mat-mini-fab color="primary" class="upload-button" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
  <div class="center">
    <img *ngIf="userService.getUser().base64Avatar != ''" class="avatar"
      src="{{userService.getUser().base64Avatar}}" /><br>
  </div>
  <div class="center" *ngIf="userService.getUser().base64Avatar != ''">
    <button *ngIf="userService.getUser().base64Avatar != ''" mat-mini-fab color="primary" class="upload-button"
      (click)="deleteAvatar()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="buttonarea">
    <button mat-flat-button class color="primary" [attr.aria-hidden]="false"
      [style]="userService.getUser().defaultStyle" class="button_style" (click)="changeDefaultStyle()">
      <mat-icon class="material-symbols-outlined">switch_access_shortcut</mat-icon>
      <span>Change style</span>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onAbortClick()">Abort</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="userService.getUser()">Apply</button>
</mat-dialog-actions>