:host {
  color: var(--mat-app-text-color);
}

::ng-deep mat-dialog-content {
  max-height: unset !important;
  overflow: visible !important;
  display: block;
}

::ng-deep mat-dialog-container {
  display: flex;
  flex-direction: column;
  max-height: 95vh;
}

h4 {
  padding: 0.5rem;
}

button {
  margin-right: 8px;
  z-index: 1000;
}

.file-input {
  display: none;
}

.center-left {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
}

.avatar-area {
  position: relative;
  display: block;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: var(--mat-option-selected-state-layer-color);
  box-shadow: 0 4px 12px var(--mat-select-focused-arrow-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
}

.upload-button {
  margin-left: 0.5rem;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
}

.button_legal {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.button-area {
  position: relative;
  display: block;
  border-radius: 1rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: var(--mat-option-selected-state-layer-color);
  box-shadow: 0 4px 12px var(--mat-select-focused-arrow-color);
}

.sample-style {
  margin: auto;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-style {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.full-width {
  width: 100%;
}

.theme-select {
  min-width: 200px;
  max-width: 100%;
  width: 100%;
}