<div class="tile" role="button" tabindex="0"
  (click)="openTileDialog()"
  (keyup.enter)="openTileDialog()"
  (keyup.space)="openTileDialog()">
  <div class="tile-header">
    <div class="tile-header__title">
      <mat-icon class="tile-icon">local_activity</mat-icon>
      <span class="tile-title">{{ 'common.tiles.experiences.title' | transloco }}</span>
    </div>
  </div>

  @if (previewExperiences().length > 0) {
    <div class="experience-list">
      @for (experience of previewExperiences(); track experience.trackId || experience.productCode) {
        <div class="experience-item">
          @if (getExperienceImage(experience)) {
            <img class="experience-avatar" [src]="getExperienceImage(experience)!" [alt]="getExperienceTitle(experience)" />
          } @else {
            <div class="experience-avatar experience-avatar--fallback">
              <mat-icon>local_activity</mat-icon>
            </div>
          }
          <div class="experience-text">
            <span class="experience-title" [attr.title]="getExperienceTitle(experience)">
              {{ getExperienceTitle(experience) }}
            </span>
            @if (getExperienceDuration(experience)) {
              <span class="experience-subtitle">{{ getExperienceDuration(experience) }}</span>
            }
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="empty">{{ 'common.tiles.experiences.empty' | transloco }}</div>
  }
</div>
