<h2 mat-dialog-title>
    <mat-icon aria-hidden="true">public</mat-icon>
    {{ 'common.legal.externalContent.title' | transloco }}
</h2>

<mat-dialog-content class="content">
    <div class="platform-tile-container">
        <div class="platform-tile">
            <app-enable-external-content [platform]="'pinterest'" (enabledChange)="setAllowPinterestContent($event)">
            </app-enable-external-content>
        </div>
        <div class="platform-tile">
            <app-enable-external-content [platform]="'spotify'" (enabledChange)="setAllowSpotifyContent($event)">
            </app-enable-external-content>
        </div>
        <div class="platform-tile">
            <app-enable-external-content [platform]="'tenor'" (enabledChange)="setAllowTenorContent($event)">
            </app-enable-external-content>
        </div>
        <div class="platform-tile">
            <app-enable-external-content [platform]="'tiktok'" (enabledChange)="setAllowTikTokContent($event)">
            </app-enable-external-content>
        </div>
        <div class="platform-tile">
            <app-enable-external-content [platform]="'youtube'" (enabledChange)="setAllowYoutubeContent($event)">
            </app-enable-external-content>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="onCloseClick()">
        {{ 'common.actions.close' | transloco }}
    </button>
</mat-dialog-actions>
