<app-dialog-header icon="public" [title]="'common.legal.externalContent.title' | transloco">
</app-dialog-header>

<mat-dialog-content class="content" [class.content--single]="isSinglePlatformView">
    <div class="platform-tile-container" [class.platform-tile-container--single]="isSinglePlatformView">
        @for (platform of visiblePlatforms; track platform) {
        <div class="platform-tile" [class.platform-tile--single]="isSinglePlatformView">
            <app-enable-external-content [platform]="platform" [checkedOverride]="isPlatformEnabled(platform)"
                [persistOnToggle]="false" (enabledChange)="setPlatformEnabled(platform, $event)">
            </app-enable-external-content>
        </div>
        }
    </div>
</mat-dialog-content>

<mat-dialog-actions class="sticky-actions" align="end">
    <button mat-dialog-close cdkFocusInitial (click)="onCloseClick()" mat-icon-button
        [attr.aria-label]="'common.actions.close' | transloco" class="action-close">
        <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button type="button" (click)="help.open('legalExternalContent')"
        [attr.aria-label]="'common.actions.help' | transloco">
        <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button color="primary" [attr.aria-label]="'common.actions.apply' | transloco"
        (click)="onApplyClick()">
        <mat-icon>check</mat-icon>
    </button>
</mat-dialog-actions>
