<mat-dialog-content>
    @if (!hasNotes()) {
    <div class="no-content">
        <div class="toolbar">
            <button mat-mini-fab color="accent" class="button_back" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <button class="first-button" mat-flat-button color="primary" [attr.aria-hidden]="false"
            (click)="!userService.isReady() ? userService.login(openAddImageDialog.bind(this)) : openAddImageDialog()">
            <span>Add first private image</span>
        </button>
    </div>
    } @else {
    <div class="content">
        <div class="toolbar">
            <button mat-mini-fab color="accent" class="button_back" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button [attr.aria-hidden]="false" class="button_add" mat-mini-fab color="primary" aria-label="Back"
                (click)="openAddImageDialog()">
                <mat-icon [attr.aria-hidden]="false">image_search</mat-icon>
            </button>
        </div>

        @for (image of sortedImages(); track image.id) {
        <mat-card class="item" appMasonryItem>
            <mat-card-content>
                <div class="message-content">
                    @if (getImageUrl(image.id) === 'NOT_FOUND') {
                    <div class="missing">
                      <mat-icon aria-hidden="true">broken_image</mat-icon>
                      <div>Image not found on device</div>
                    </div>
                    } @else {
                    <img [src]="getImageUrl(image.id)" [alt]="image.fileName" class="image-preview" />
                    }
                </div>
            </mat-card-content>
            <mat-card-actions class="buttonbar">
                @if (userService.isReady()) {
                <button mat-mini-fab color="secondary" aria-label="Delete image" (click)="deleteImage(image)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Fly to image" (click)="flyTo(image)">
                    <mat-icon>place</mat-icon>
                </button>
                <button mat-mini-fab color="secondary" aria-label="Navigate to note location."
                    (click)="navigateToNoteLocation(image)">
                    <mat-icon>assistant_direction</mat-icon>
                </button>
                }
            </mat-card-actions>
        </mat-card>
        }
    </div>
    }
</mat-dialog-content>
