<h2 mat-dialog-title class="dialog-title">{{ 'common.systemMessages.deleteTitle' | transloco }}</h2>
<mat-dialog-content class="confirm-content">
  <div class="confirm-box"><p>{{ 'common.systemMessages.deleteConfirm' | transloco }}</p></div>
</mat-dialog-content>
<mat-dialog-actions class="sticky-actions" align="end">
  <button [mat-dialog-close]="false" mat-icon-button [attr.aria-label]="'common.cancel' | transloco" class="action-close"><mat-icon>close</mat-icon></button>
  <button color="warn" [mat-dialog-close]="true" cdkFocusInitial mat-icon-button [attr.aria-label]="'common.actions.delete' | transloco"><mat-icon>delete</mat-icon></button>
</mat-dialog-actions>
